## Notebook Intention:
*This basic Jupyter Notebook is intended to demonstrate the end-to-end process using a number of defined steps.
These steps do not need to be coupled within a single Notebook.*
### Section: Define and Load into Memory Notebook Python Libraries / Components:

In [377]:
conda install -c conda-forge cchardet

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [519]:
!pip install gssutils
!pip install csvwlib
!pip install slug
!pip install goodtables

from gssutils import *
from csvwlib import CSVWConverter
import slug

from goodtables import validate
from goodtables import Inspector
inspector = Inspector()
from pprint import pprint

import numpy as np

import json

from IPython.display import Markdown, display

Requirement already satisfied: gssutils in /anaconda3/lib/python3.7/site-packages (0.5.12)
Requirement already satisfied: pyexcel-xls in /anaconda3/lib/python3.7/site-packages (from gssutils) (0.5.8)
Requirement already satisfied: python-dateutil in /anaconda3/lib/python3.7/site-packages (from gssutils) (2.6.1)
Requirement already satisfied: pandas in /anaconda3/lib/python3.7/site-packages (from gssutils) (0.24.2)
Requirement already satisfied: rdflib in /anaconda3/lib/python3.7/site-packages (from gssutils) (4.2.2)
Requirement already satisfied: ipython in /anaconda3/lib/python3.7/site-packages (from gssutils) (7.6.1)
Requirement already satisfied: wheel in /anaconda3/lib/python3.7/site-packages (from gssutils) (0.33.4)
Requirement already satisfied: argparse in /anaconda3/lib/python3.7/site-packages (from gssutils) (1.4.0)
Requirement already satisfied: html2text in /anaconda3/lib/python3.7/site-packages (from gssutils) (2019.8.11)
Requirement already satisfied: pyexcel-ods3 in /anaconda3/lib/python3.7/site-packages (from gssutils) (0.5.3)
Requirement already satisfied: messytables in /anaconda3/lib/python3.7/site-packages (from gssutils) (0.15.1)
Requirement already satisfied: unidecode in /anaconda3/lib/python3.7/site-packages (from gssutils) (1.1.1)
Requirement already satisfied: databaker in /anaconda3/lib/python3.7/site-packages (from gssutils) (2.0.0)
Requirement already satisfied: lockfile in /anaconda3/lib/python3.7/site-packages (from gssutils) (0.12.2)
Requirement already satisfied: rdflib-jsonld in /anaconda3/lib/python3.7/site-packages (from gssutils) (0.4.0)
Requirement already satisfied: CacheControl in /anaconda3/lib/python3.7/site-packages (from gssutils) (0.12.5)
Requirement already satisfied: requests in /anaconda3/lib/python3.7/site-packages (from gssutils) (2.18.4)
Requirement already satisfied: pyexcel in /anaconda3/lib/python3.7/site-packages (from gssutils) (0.5.15)
Requirement already satisfied: pyexcel-io in /anaconda3/lib/python3.7/site-packages (from gssutils) (0.5.20)
Requirement already satisfied: lxml in /anaconda3/lib/python3.7/site-packages (from gssutils) (4.3.4)
Requirement already satisfied: xypath==1.1.1 in /anaconda3/lib/python3.7/site-packages (from gssutils) (1.1.1)
Requirement already satisfied: xlrd in /anaconda3/lib/python3.7/site-packages (from pyexcel-xls->gssutils) (1.2.0)
Requirement already satisfied: xlwt in /anaconda3/lib/python3.7/site-packages (from pyexcel-xls->gssutils) (1.3.0)
Requirement already satisfied: six>=1.5 in /anaconda3/lib/python3.7/site-packages (from python-dateutil->gssutils) (1.12.0)
Requirement already satisfied: pytz>=2011k in /anaconda3/lib/python3.7/site-packages (from pandas->gssutils) (2019.1)
Requirement already satisfied: numpy>=1.12.0 in /anaconda3/lib/python3.7/site-packages (from pandas->gssutils) (1.16.4)
Requirement already satisfied: pyparsing in /anaconda3/lib/python3.7/site-packages (from rdflib->gssutils) (2.4.0)
Requirement already satisfied: isodate in /anaconda3/lib/python3.7/site-packages (from rdflib->gssutils) (0.6.0)
Requirement already satisfied: pexpect; sys_platform != "win32" in /anaconda3/lib/python3.7/site-packages (from ipython->gssutils) (4.7.0)
Requirement already satisfied: setuptools>=18.5 in /anaconda3/lib/python3.7/site-packages (from ipython->gssutils) (41.0.1)
Requirement already satisfied: backcall in /anaconda3/lib/python3.7/site-packages (from ipython->gssutils) (0.1.0)
Requirement already satisfied: appnope; sys_platform == "darwin" in /anaconda3/lib/python3.7/site-packages (from ipython->gssutils) (0.1.0)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /anaconda3/lib/python3.7/site-packages (from ipython->gssutils) (2.0.9)
Requirement already satisfied: decorator in /anaconda3/lib/python3.7/site-packages (from ipython->gssutils) (4.4.0)
Requirement already satisfied: pygments in /anaconda3/lib/python3.7/site-packages (from ipython->gssutils) (2.4.2)
Requirement already satisfied: jedi>=0.10 in /anaconda3/lib/python3.7/site-packages (from ipython->gssutils) (0.13.3)
Requirement already satisfied: traitlets>=4.2 in /anaconda3/lib/python3.7/site-packages (from ipython->gssutils) (4.3.2)
Requirement already satisfied: pickleshare in /anaconda3/lib/python3.7/site-packages (from ipython->gssutils) (0.7.5)
Requirement already satisfied: pyexcel-ezodf>=0.3.3 in /anaconda3/lib/python3.7/site-packages (from pyexcel-ods3->gssutils) (0.3.4)
Requirement already satisfied: html5lib in /anaconda3/lib/python3.7/site-packages (from messytables->gssutils) (1.0.1)
Requirement already satisfied: json-table-schema<=0.2.1,>=0.2 in /anaconda3/lib/python3.7/site-packages (from messytables->gssutils) (0.2.1)
Requirement already satisfied: python-magic>=0.4.12 in /anaconda3/lib/python3.7/site-packages (from messytables->gssutils) (0.4.15)
Requirement already satisfied: chardet>=2.3.0 in /anaconda3/lib/python3.7/site-packages (from messytables->gssutils) (3.0.4)
Requirement already satisfied: pyhamcrest in /anaconda3/lib/python3.7/site-packages (from databaker->gssutils) (1.9.0)
Requirement already satisfied: docopt in /anaconda3/lib/python3.7/site-packages (from databaker->gssutils) (0.6.2)
Requirement already satisfied: xlutils in /anaconda3/lib/python3.7/site-packages (from databaker->gssutils) (2.0.0)
Requirement already satisfied: msgpack in /anaconda3/lib/python3.7/site-packages (from CacheControl->gssutils) (0.6.1)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in /anaconda3/lib/python3.7/site-packages (from requests->gssutils) (1.22)
Requirement already satisfied: idna<2.7,>=2.5 in /anaconda3/lib/python3.7/site-packages (from requests->gssutils) (2.6)
Requirement already satisfied: certifi>=2017.4.17 in /anaconda3/lib/python3.7/site-packages (from requests->gssutils) (2019.11.28)
Requirement already satisfied: texttable>=0.8.2 in /anaconda3/lib/python3.7/site-packages (from pyexcel->gssutils) (1.6.2)
Requirement already satisfied: lml>=0.0.4 in /anaconda3/lib/python3.7/site-packages (from pyexcel->gssutils) (0.0.9)
Requirement already satisfied: ptyprocess>=0.5 in /anaconda3/lib/python3.7/site-packages (from pexpect; sys_platform != "win32"->ipython->gssutils) (0.6.0)
Requirement already satisfied: wcwidth in /anaconda3/lib/python3.7/site-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython->gssutils) (0.1.7)
Requirement already satisfied: parso>=0.3.0 in /anaconda3/lib/python3.7/site-packages (from jedi>=0.10->ipython->gssutils) (0.5.0)
Requirement already satisfied: ipython-genutils in /anaconda3/lib/python3.7/site-packages (from traitlets>=4.2->ipython->gssutils) (0.2.0)
Requirement already satisfied: webencodings in /anaconda3/lib/python3.7/site-packages (from html5lib->messytables->gssutils) (0.5.1)
Requirement already satisfied: csvwlib in /anaconda3/lib/python3.7/site-packages (0.2.3)
Requirement already satisfied: python-dateutil==2.6.1 in /anaconda3/lib/python3.7/site-packages (from csvwlib) (2.6.1)
Requirement already satisfied: rdflib-jsonld==0.4.0 in /anaconda3/lib/python3.7/site-packages (from csvwlib) (0.4.0)
Requirement already satisfied: language-tags==0.4.3 in /anaconda3/lib/python3.7/site-packages (from csvwlib) (0.4.3)
Requirement already satisfied: requests==2.18.4 in /anaconda3/lib/python3.7/site-packages (from csvwlib) (2.18.4)
Requirement already satisfied: rdflib==4.2.2 in /anaconda3/lib/python3.7/site-packages (from csvwlib) (4.2.2)
Requirement already satisfied: uritemplate==3.0.0 in /anaconda3/lib/python3.7/site-packages (from csvwlib) (3.0.0)
Requirement already satisfied: six>=1.5 in /anaconda3/lib/python3.7/site-packages (from python-dateutil==2.6.1->csvwlib) (1.12.0)
Requirement already satisfied: idna<2.7,>=2.5 in /anaconda3/lib/python3.7/site-packages (from requests==2.18.4->csvwlib) (2.6)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in /anaconda3/lib/python3.7/site-packages (from requests==2.18.4->csvwlib) (1.22)
Requirement already satisfied: certifi>=2017.4.17 in /anaconda3/lib/python3.7/site-packages (from requests==2.18.4->csvwlib) (2019.11.28)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /anaconda3/lib/python3.7/site-packages (from requests==2.18.4->csvwlib) (3.0.4)
Requirement already satisfied: pyparsing in /anaconda3/lib/python3.7/site-packages (from rdflib==4.2.2->csvwlib) (2.4.0)

Requirement already satisfied: isodate in /anaconda3/lib/python3.7/site-packages (from rdflib==4.2.2->csvwlib) (0.6.0)
Requirement already satisfied: slug in /anaconda3/lib/python3.7/site-packages (2.0)
Requirement already satisfied: goodtables in /anaconda3/lib/python3.7/site-packages (2.4.0)
Requirement already satisfied: tabulator>=1.29 in /anaconda3/lib/python3.7/site-packages (from goodtables) (1.29.0)
Requirement already satisfied: click>=6.6 in /anaconda3/lib/python3.7/site-packages (from goodtables) (7.0)
Requirement already satisfied: datapackage>=1.10 in /anaconda3/lib/python3.7/site-packages (from goodtables) (1.10.0)
Requirement already satisfied: tableschema>=1.10 in /anaconda3/lib/python3.7/site-packages (from goodtables) (1.10.0)
Requirement already satisfied: click-default-group in /anaconda3/lib/python3.7/site-packages (from goodtables) (1.2.2)
Requirement already satisfied: simpleeval>=0.9 in /anaconda3/lib/python3.7/site-packages (from goodtables) (0.9.8)
Requirement already satisfied: requests>=2.10 in /anaconda3/lib/python3.7/site-packages (from goodtables) (2.18.4)
Requirement already satisfied: six>=1.9 in /anaconda3/lib/python3.7/site-packages (from goodtables) (1.12.0)
Requirement already satisfied: statistics>=1.0 in /anaconda3/lib/python3.7/site-packages (from goodtables) (1.0.3.5)
Requirement already satisfied: unicodecsv>=0.14 in /anaconda3/lib/python3.7/site-packages (from tabulator>=1.29->goodtables) (0.14.1)
Requirement already satisfied: boto3>=1.9 in /anaconda3/lib/python3.7/site-packages (from tabulator>=1.29->goodtables) (1.10.14)
Requirement already satisfied: sqlalchemy>=0.9.6 in /anaconda3/lib/python3.7/site-packages (from tabulator>=1.29->goodtables) (1.3.5)
Requirement already satisfied: xlrd>=1.0 in /anaconda3/lib/python3.7/site-packages (from tabulator>=1.29->goodtables) (1.2.0)
Requirement already satisfied: jsonlines>=1.1 in /anaconda3/lib/python3.7/site-packages (from tabulator>=1.29->goodtables) (1.2.0)
Requirement already satisfied: cchardet>=1.0 in /anaconda3/lib/python3.7/site-packages (from tabulator>=1.29->goodtables) (2.1.4)
Requirement already satisfied: openpyxl>=2.6 in /anaconda3/lib/python3.7/site-packages (from tabulator>=1.29->goodtables) (2.6.2)
Requirement already satisfied: ijson>=2.5 in /anaconda3/lib/python3.7/site-packages (from tabulator>=1.29->goodtables) (2.5.1)
Requirement already satisfied: linear-tsv>=1.0 in /anaconda3/lib/python3.7/site-packages (from tabulator>=1.29->goodtables) (1.1.0)
Requirement already satisfied: jsonschema>=2.5 in /anaconda3/lib/python3.7/site-packages (from datapackage>=1.10->goodtables) (3.0.1)
Requirement already satisfied: jsonpointer>=1.10 in /anaconda3/lib/python3.7/site-packages (from datapackage>=1.10->goodtables) (2.0)
Requirement already satisfied: python-dateutil>=2.4 in /anaconda3/lib/python3.7/site-packages (from tableschema>=1.10->goodtables) (2.6.1)
Requirement already satisfied: rfc3986>=1.1.0 in /anaconda3/lib/python3.7/site-packages (from tableschema>=1.10->goodtables) (1.3.2)
Requirement already satisfied: isodate>=0.5.4 in /anaconda3/lib/python3.7/site-packages (from tableschema>=1.10->goodtables) (0.6.0)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in /anaconda3/lib/python3.7/site-packages (from requests>=2.10->goodtables) (1.22)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /anaconda3/lib/python3.7/site-packages (from requests>=2.10->goodtables) (3.0.4)
Requirement already satisfied: idna<2.7,>=2.5 in /anaconda3/lib/python3.7/site-packages (from requests>=2.10->goodtables) (2.6)
Requirement already satisfied: certifi>=2017.4.17 in /anaconda3/lib/python3.7/site-packages (from requests>=2.10->goodtables) (2019.11.28)
Requirement already satisfied: docutils>=0.3 in /anaconda3/lib/python3.7/site-packages (from statistics>=1.0->goodtables) (0.14)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /anaconda3/lib/python3.7/site-packages (from boto3>=1.9->tabulator>=1.29->goodtables) (0.9.4)
Requirement already satisfied: botocore<1.14.0,>=1.13.14 in /anaconda3/lib/python3.7/site-packages (from boto3>=1.9->tabulator>=1.29->goodtables) (1.13.14)
Requirement already satisfied: s3transfer<0.3.0,>=0.2.0 in /anaconda3/lib/python3.7/site-packages (from boto3>=1.9->tabulator>=1.29->goodtables) (0.2.1)
Requirement already satisfied: et-xmlfile in /anaconda3/lib/python3.7/site-packages (from openpyxl>=2.6->tabulator>=1.29->goodtables) (1.0.1)
Requirement already satisfied: jdcal in /anaconda3/lib/python3.7/site-packages (from openpyxl>=2.6->tabulator>=1.29->goodtables) (1.4.1)
Requirement already satisfied: attrs>=17.4.0 in /anaconda3/lib/python3.7/site-packages (from jsonschema>=2.5->datapackage>=1.10->goodtables) (19.1.0)
Requirement already satisfied: pyrsistent>=0.14.0 in /anaconda3/lib/python3.7/site-packages (from jsonschema>=2.5->datapackage>=1.10->goodtables) (0.14.11)
Requirement already satisfied: setuptools in /anaconda3/lib/python3.7/site-packages (from jsonschema>=2.5->datapackage>=1.10->goodtables) (41.0.1)

### Section: Define Notebook Functions:

In [7]:
# Function for markdown Notebook outputs:
def printmd(string, colour=None):
    colourstr = "<span style='color:{}'>{}</span>".format(colour, string)
    display(Markdown(colourstr))

In [8]:
# Function that determines Python Execution Environment:
if get_ipython().__class__.__name__ == 'ZMQInteractiveShell':
    boo_pythonNB_environment = True
else:
    boo_pythonNB_environment = False

printmd('***Execution Environment: ' + get_ipython().__class__.__name__ + '; setting boo_pythonNB_environment to: ' \
      + str(boo_pythonNB_environment) + '.***', colour='Grey')

<span style='color:Grey'>***Execution Environment: ZMQInteractiveShell; setting boo_pythonNB_environment to: True.***</span>

In [590]:
# Join our Slugized transformed data with our REF data - using DataFrames only - no CSV functionality:
def align_REFdata_with_Transform(input_df, source_ref_columns_df, source_ref_components_df):
    
    REFdata_intermediate = pd.merge(input_df, source_ref_columns_df, left_on='REFColumnsCSV Link', right_on='title', how='inner')
    REFdata_linked_successful = pd.merge(REFdata_intermediate, source_ref_components_df, left_on='title', right_on='Label', how='left')
    
    REFdata_linked_UNsuccessful = pd.merge(input_df, source_ref_columns_df, left_on='REFColumnsCSV Link', right_on='title', how='outer', indicator=True).query('_merge=="left_only"')    

    return REFdata_linked_successful, REFdata_linked_UNsuccessful

### Stage 1: Harvesting Human Readable Data Sources:
* *Using GSS_Utils we can web scrape data sources such as .XLSX spreadsheets.*
* *The Scraper component of GSS-Utils can print out all the identified distributions of data.*

In [10]:
scraper = Scraper('https://www.ons.gov.uk/peoplepopulationandcommunity/healthandsocialcare/' \
                  'healthandlifeexpectancies/datasets/healthstatelifeexpectancyallagesuk')
display(scraper)

## Health state life expectancy, all ages, UK

Pivot tables for health state life expectancy by sex and area type, divided by three-year intervals starting from 2009 to 2011.

### Description

Pivot tables for health state life expectancy by sex and area type, divided by two-year intervals starting from 2009 to 2011.

### Distributions

1. Health state life expectancy, all ages, UK ([MS Excel Spreadsheet](https://www.ons.gov.uk/file?uri=/peoplepopulationandcommunity/healthandsocialcare/healthandlifeexpectancies/datasets/healthstatelifeexpectancyallagesuk/current/heestimates.xlsx)) - 2016-11-29
1. Health state life expectancy, all ages, UK ([application/zip](https://www.ons.gov.uk/file?uri=/peoplepopulationandcommunity/healthandsocialcare/healthandlifeexpectancies/datasets/healthstatelifeexpectancyallagesuk/current/previous/v1/healthexpectanciespivottables.zip)) - 2016-11-29
1. Health state life expectancy, all ages, UK ([application/zip](https://www.ons.gov.uk/file?uri=/peoplepopulationandcommunity/healthandsocialcare/healthandlifeexpectancies/datasets/healthstatelifeexpectancyallagesuk/current/previous/v2/healthexpectanciespivottablesversion2.zip)) - 2016-11-29
1. Health state life expectancy, all ages, UK ([MS Excel Spreadsheet](https://www.ons.gov.uk/file?uri=/peoplepopulationandcommunity/healthandsocialcare/healthandlifeexpectancies/datasets/healthstatelifeexpectancyallagesuk/current/previous/v3/refpivottablesfinal.xlsx)) - 2016-11-29
1. Health state life expectancy, all ages, UK ([MS Excel Spreadsheet](https://www.ons.gov.uk/file?uri=/peoplepopulationandcommunity/healthandsocialcare/healthandlifeexpectancies/datasets/healthstatelifeexpectancyallagesuk/current/previous/v4/hslepivotab1.xlsx)) - 2016-11-29

### Stage 2: Identifying the Distribution to Extract and Process:
*We're selecting the first distribution for processing...*
* *Note that our component scrapes associated meta data.*

In [11]:
tabs = scraper.distributions[0].as_databaker()
distribution = scraper.distributions[0]
display(distribution)

### Stage 3: Data Wrangling:
**For the purposes of this Notebook we're only going to process two tabs of the spreadsheet.**

*Note: Where multiple tabs and multiple outputs are required and generated additional file / code management may*
*be necessary.*

**Transforms (tidy data outputs) are stored in a collection of Pandas DataFrames.**

**Validations by user and through tools are expected and conducted in the cells that succeed the wrangling code-cells.**

In [320]:
str_tabsheetsinfocus = 'H'
if boo_pythonNB_environment == True:
    printmd("**Processing tabs that start with: " + str_tabsheetsinfocus + ".**")
    
i = 0 # Loop Variable.
ii = 0 # Loop Variable.
dataframe_collection = {} # Collection of Pandas DataFrames.


for tab in tabs:
    if tabs[i].name.startswith(str_tabsheetsinfocus):
        
        
        if tabs[i].name == 'HE - Country level estimates':
            ii = 1
            try:
                pd_tab = distribution.as_pandas(sheet_name = tabs[i].name) #, skiprows=1, header=None)
                pd_df_dimensions = pd_tab.iloc[:, :7] # This split is lost in our transformation - but it helped here.
                pd_df_observations = pd_tab.iloc[:, 7:14] # See above.
                pd_df_original = pd.concat([pd_df_dimensions, pd_df_observations], axis=1, sort=False)
                pd_df_transformed = pd_df_original.dropna(how='all')
                pd_df_transformed = pd_df_transformed.drop(columns=['Country', 'sex1', 'ageband'])
                pd_df_transformed['Period'] = pd_df_transformed['Period']\
                    .map(lambda x: f'gregorian-interval/{str(x)[:4]}-03-31T00:00:00/P3Y')
                pd_df_transformed.loc[pd_df_transformed['Sex'] == 'Males', 'Sex'] = 'M'
                pd_df_transformed.loc[pd_df_transformed['Sex'] == 'Females', 'Sex'] = 'F'
                pd_df_transformed['age group'][pd_df_transformed['age group'] == '<1'] = 'lessthan1'
                pd_df_transformed['age group'][pd_df_transformed['age group'] == '90+'] = '90plus'
                pd_df_transformed_le =\
                    pd_df_transformed[['Period', 'Code', 'Sex', 'age group', 'Life Expectancy (LE)_',\
                                       'LE Lower CI_', 'LE Upper CI_',\
                                       #'Proportion of Life Spent in "Good" Health (%)_']].copy()
                                      ]].copy()
                pd_df_transformed_hle =\
                    pd_df_transformed[['Period', 'Code', 'Sex', 'age group', 'Healthy Life Expectancy (HLE) _',\
                                       'HLE Lower CI_', 'HLE Upper CI_',\
                                       #'Proportion of Life Spent in "Good" Health (%)_']].copy()
                                       ]].copy()
                pd_df_transformed_le['TransformationType'] = 'LE'
                pd_df_transformed_hle['TransformationType'] = 'HLE'
                dataframe_collection[tabs[i].name + '_LE'] = pd_df_transformed_le
                dataframe_collection[tabs[i].name + '_HLE'] = pd_df_transformed_hle
                printmd('[' + str(i) + '] Processed: ' + tabs[i].name + '.', colour='Green')
            except ERR_HECountryLevelEstimates:
                print('Error within ' + str(pd_df_name.append(tabs[i].name)) + ' process to extract to Pandas DF.')
            
            
        if tabs[i].name == 'HE - Region level estimates':
            ii = 1
            try:
                pd_tab = distribution.as_pandas(sheet_name = tabs[i].name)
                pd_df_dimensions = pd_tab.iloc[:, :8]
                pd_df_observations = pd_tab.iloc[:, 8:14]
                pd_df_original = pd.concat([pd_df_dimensions, pd_df_observations], axis=1, sort=False)
                pd_df_original.columns = pd_df_original.iloc[0]
                pd_df_original = pd_df_original[1:]
                pd_df_transformed = pd_df_original.dropna(how='all')
                pd_df_transformed = pd_df_transformed.drop(columns=['Area_name', 'sex1', 'ageband'])
                pd_df_transformed['Period'] = pd_df_transformed['Period']\
                    .map(lambda x: f'gregorian-interval/{str(x)[:4]}-03-31T00:00:00/P3Y')
                pd_df_transformed.loc[pd_df_transformed['Sex'] == 'Males', 'Sex'] = 'M'
                pd_df_transformed.loc[pd_df_transformed['Sex'] == 'Females', 'Sex'] = 'F'
                pd_df_transformed['Age group'][pd_df_transformed['Age group'] == '<1'] = 'lessthan1'
                pd_df_transformed['Age group'][pd_df_transformed['Age group'] == '90+'] = '90plus'
                pd_df_transformed_le =\
                    pd_df_transformed[['Period', 'Code', 'Sex', 'Age group', 'Life Expectancy (LE)_',\
                                       'LE Lower CI_', 'LE Upper CI_',\
                                       #'Proportion of Life Spent in "Good" Health (%)_']].copy()
                                       ]].copy()
                pd_df_transformed_hle =\
                    pd_df_transformed[['Period', 'Code', 'Sex', 'Age group', 'Healthy Life Expectancy (HLE) _',\
                                       'HLE Lower CI_', 'HLE Upper CI_',\
                                       #'Proportion of Life Spent in "Good" Health (%)_']].copy()
                                        ]].copy()
                pd_df_transformed_le['TransformationType'] = 'LE'
                pd_df_transformed_hle['TransformationType'] = 'HLE'
                dataframe_collection[tabs[i].name + '_LE'] = pd_df_transformed_le
                dataframe_collection[tabs[i].name + '_HLE'] = pd_df_transformed_hle
                printmd('[' + str(i) + '] Processed: ' + tabs[i].name + '.', colour='Green')
            except ERR_HERegionLevelEstimates:
                print('Error within ' + str(pd_df_name.append(tabs[i].name)) + ' process to extract to Pandas DF.')            
    
        if ii == 0:
                printmd('[' + str(i) + '] Ignoring: ' + tabs[i].name + '.', colour='Red')
        
    i += 1
    ii = 0 # Code should be amended to utilise loop break outs...

<span style='color:None'>**Processing tabs that start with: H.**</span>

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

<span style='color:Green'>[1] Processed: HE - Country level estimates.</span>

<span style='color:Green'>[2] Processed: HE - Region level estimates.</span>

<span style='color:Red'>[3] Ignoring: HE - MC,CA,WHB estimates.</span>

<span style='color:Red'>[4] Ignoring: HE - Local area estimates.</span>

**Checking the result of our data extraction and wrangling of the two data tabs:**

*Note: This is for human visualisation - not for specific testing (or as part of a testing framework).*

If the transformations appear correct we can proceed, otherwise we need to re-factor the data wrangling stage.

In [380]:
# Display:
for key in dataframe_collection.keys():
    printmd("\n" + "="*100, colour='Grey')
    printmd('**' + key + '**' + ' *: First five records displayed of*' + ' ' + str(dataframe_collection[key].shape[0]) + ' records.', colour='Blue')
    printmd("="*100, colour='Grey')
    #print(dataframe_collection[key]) #Print like this for Logs...  
    display(dataframe_collection[key].head(5))

<span style='color:Grey'>
====================================================================================================</span>

<span style='color:Blue'>**HE - Country level estimates_LE** *: First five records displayed of* 1600 records.</span>

<span style='color:Grey'>====================================================================================================</span>

,Period,Code,Sex,age group,Life Expectancy (LE)_,LE Lower CI_,LE Upper CI_,TransformationType
0,gregorian-interval/2009-03-31T00:00:00/P3Y,E92000001,M,lessthan1,78.78073,78.75026,78.81120,LE
1,gregorian-interval/2009-03-31T00:00:00/P3Y,E92000001,M,01-04,78.17075,78.14207,78.19942,LE
2,gregorian-interval/2009-03-31T00:00:00/P3Y,E92000001,M,05-09,74.22782,74.19942,74.25623,LE
3,gregorian-interval/2009-03-31T00:00:00/P3Y,E92000001,M,10-14,69.26178,69.23354,69.29002,LE
4,gregorian-interval/2009-03-31T00:00:00/P3Y,E92000001,M,15-19,64.29632,64.26823,64.32440,LE

<span style='color:Grey'>
====================================================================================================</span>

<span style='color:Blue'>**HE - Country level estimates_HLE** *: First five records displayed of* 1600 records.</span>

<span style='color:Grey'>====================================================================================================</span>

,Period,Code,Sex,age group,Healthy Life Expectancy (HLE) _,HLE Lower CI_,HLE Upper CI_,TransformationType
0,gregorian-interval/2009-03-31T00:00:00/P3Y,E92000001,M,lessthan1,63.02647,62.87787,63.17508,HLE
1,gregorian-interval/2009-03-31T00:00:00/P3Y,E92000001,M,01-04,62.37935,62.23008,62.52862,HLE
2,gregorian-interval/2009-03-31T00:00:00/P3Y,E92000001,M,05-09,58.59795,58.44976,58.74614,HLE
3,gregorian-interval/2009-03-31T00:00:00/P3Y,E92000001,M,10-14,53.86217,53.71597,54.00838,HLE
4,gregorian-interval/2009-03-31T00:00:00/P3Y,E92000001,M,15-19,49.15668,49.01273,49.30062,HLE

<span style='color:Grey'>
====================================================================================================</span>

<span style='color:Blue'>**HE - Region level estimates_LE** *: First five records displayed of* 2880 records.</span>

<span style='color:Grey'>====================================================================================================</span>

,Period,Code,Sex,Age group,Life Expectancy (LE)_,LE Lower CI_,LE Upper CI_,TransformationType
1,gregorian-interval/2009-03-31T00:00:00/P3Y,E12000001,M,lessthan1,77.4021,77.2661,77.5382,LE
2,gregorian-interval/2009-03-31T00:00:00/P3Y,E12000001,M,01-04,76.7237,76.5949,76.8526,LE
3,gregorian-interval/2009-03-31T00:00:00/P3Y,E12000001,M,05-09,72.7749,72.6472,72.9026,LE
4,gregorian-interval/2009-03-31T00:00:00/P3Y,E12000001,M,10-14,67.7985,67.6714,67.9256,LE
5,gregorian-interval/2009-03-31T00:00:00/P3Y,E12000001,M,15-19,62.8475,62.7214,62.9737,LE

<span style='color:Grey'>
====================================================================================================</span>

<span style='color:Blue'>**HE - Region level estimates_HLE** *: First five records displayed of* 2880 records.</span>

<span style='color:Grey'>====================================================================================================</span>

,Period,Code,Sex,Age group,Healthy Life Expectancy (HLE) _,HLE Lower CI_,HLE Upper CI_,TransformationType
1,gregorian-interval/2009-03-31T00:00:00/P3Y,E12000001,M,lessthan1,59.7111,59.1905,60.2318,HLE
2,gregorian-interval/2009-03-31T00:00:00/P3Y,E12000001,M,01-04,58.9645,58.4417,59.4873,HLE
3,gregorian-interval/2009-03-31T00:00:00/P3Y,E12000001,M,05-09,55.0573,54.5354,55.5793,HLE
4,gregorian-interval/2009-03-31T00:00:00/P3Y,E12000001,M,10-14,50.2258,49.7077,50.7439,HLE
5,gregorian-interval/2009-03-31T00:00:00/P3Y,E12000001,M,15-19,45.5027,44.9906,46.0148,HLE

### Checking Validity of Transforms in CSV (in-memory) Format:

In [414]:
# Good Tables CSV validity tests:
for key in dataframe_collection.keys():
    csv_path_file = str(slug.slug(key)) + '.csv'
    dataframe_collection[key].to_csv(csv_path_file, index = None, header=True)
    report = validate(csv_path_file)
    printmd("\n" + "="*100, colour='Grey')
    printmd('***CSV extract for: ' + csv_path_file + ' has been examined. Validation of the file is:***' + ' ' + str(report['valid']) + '.', colour='Purple')
    printmd("="*100, colour='Grey')
    if report['valid'] == False:
        closer_file_inspection = inspector.inspect(csv_path_file)
        pprint(closer_file_inspection)

<span style='color:Grey'>
====================================================================================================</span>

<span style='color:Purple'>***CSV extract for: he-country-level-estimates_le.csv has been examined. Validation of the file is:*** True.</span>

<span style='color:Grey'>====================================================================================================</span>

<span style='color:Grey'>
====================================================================================================</span>

<span style='color:Purple'>***CSV extract for: he-country-level-estimates_hle.csv has been examined. Validation of the file is:*** True.</span>

<span style='color:Grey'>====================================================================================================</span>

<span style='color:Grey'>
====================================================================================================</span>

<span style='color:Purple'>***CSV extract for: he-region-level-estimates_le.csv has been examined. Validation of the file is:*** True.</span>

<span style='color:Grey'>====================================================================================================</span>

<span style='color:Grey'>
====================================================================================================</span>

<span style='color:Purple'>***CSV extract for: he-region-level-estimates_hle.csv has been examined. Validation of the file is:*** True.</span>

<span style='color:Grey'>====================================================================================================</span>

### Stage 4: Isolated Notebook Tests until a Framework is Developed and Deployed:
**Checking the result of our data extraction and wrangling of data sources / tabs:**

* Note: A testing framework and strategy is required.
* Note: Tests can be programatically implemented using code / functions OR as implemented here via hardcoded values.
    * *Remember: that if testing values are hardcoded they will only apply to a specific data source; for example record counts may change between revisions of the same data source etc.*


* *A testing strategy is yet to be defined for our COGS development teams. Currently, checks that mirror those below are a good starting point; these include counts and sum'ing to ensure no data is lost during the transform process and random data entry point checks to ensure the data wrangling steps have not skewed the data schema / structure.*
    * *A testing framework should be implemented where tests are executed periodically to identify when new source data is available or has been revised - a test suite for a RAP (Reproducible Analytical Pipeline) can highlight failures and a requirment for a code-refactor.*
    * ***FOR INFORMATION! BE ADVISED - Intentionally one test here fails for demonstration purposes.***

In [515]:
# Hard-coded tests:
test_count_int = 0
test_count_successful = 0

if boo_pythonNB_environment == True:
    # Only output to Notebook as per other code-cells.
    # Remember tests only relevant to specific data sources!
    # You could use Python assert for all tests in a testing framework wrapper - lots of options available to us.
    
    test_count_int += 1 # Increment Test Counter...
    if dataframe_collection['HE - Country level estimates_HLE'].shape[0] == 1600:
        printmd('Test ID: [' + str(test_count_int) + '] Successful.', colour='Green')
        test_count_successful += 1 # Increment Successful Test Counter...
    else:
        printmd('Test ID: [' + str(test_count_int) + '] Failed.', colour='Red')

    test_count_int += 1 # Increment Test Counter...
    my_testdata = (dataframe_collection['HE - Country level estimates_HLE'].loc[(dataframe_collection['HE - Country level estimates_HLE']['Period'] == 'gregorian-interval/2009-03-31T00:00:00/P3Y') &
                     (dataframe_collection['HE - Country level estimates_HLE']['Code'] == 'E92000001') &
                     (dataframe_collection['HE - Country level estimates_HLE']['age group'] == 'lessthan1') &
                     (dataframe_collection['HE - Country level estimates_HLE']['Sex'] == 'M')]
                     )
    my_expecteddata = pd.DataFrame({
                    'Period': ['gregorian-interval/2009-03-31T00:00:00/P3Y'],
                    'Code': ['E92000001'],
                    'Sex': ['M'],
                    'age group': ['lessthan1'],
                    'Healthy Life Expectancy (HLE) _': [63.02647],
                    'HLE Lower CI_': [62.87787],
                    'HLE Upper CI_': [63.17508],
                    #'Proportion of Life Spent in "Good" Health (%)_': [80.0024],
                    'TransformationType': ['HLE']
                    })
    if my_testdata.equals(my_expecteddata):
        printmd('Test ID: [' + str(test_count_int) + '] Successful.', colour='Green')
        test_count_successful += 1 # Increment Successful Test Counter...
    else:
        printmd('Test ID: [' + str(test_count_int) + '] Failed.', colour='Red')

    test_count_int += 1 # Increment Test Counter...
    my_testdata = (dataframe_collection['HE - Country level estimates_HLE'].loc[(dataframe_collection['HE - Country level estimates_HLE']['Period'] == 'gregorian-interval/2016-03-31T00:00:00/P3Y') &
                     (dataframe_collection['HE - Country level estimates_HLE']['Code'] == 'W92000004') &
                     (dataframe_collection['HE - Country level estimates_HLE']['Sex'] == 'F') &
                     (dataframe_collection['HE - Country level estimates_HLE']['age group'] == '05-09')]
                    ) 
    my_testdata.index = np.arange(1,len(my_testdata)+1) # To avoid index comparison errors.
    my_expecteddata = pd.DataFrame({
                    'Period': ['gregorian-interval/2016-03-31T00:00:00/P3Y'],
                    'Code': ['W92000004'],
                    'Sex': ['F'],
                    'age group': ['05-09'],
                    'Healthy Life Expectancy (HLE) _': [57.56803],
                    'HLE Lower CI_': [57.10483],
                    'HLE Upper CI_': [58.03124],
                    #'Proportion of Life Spent in "Good" Health (%)_': [74.21282],
                    'TransformationType': ['HLE']
                    })
    my_expecteddata.index = np.arange(1,len(my_expecteddata)+1) # To avoid index comparison errors.
    if my_testdata.equals(my_expecteddata):
        printmd('Test ID: [' + str(test_count_int) + '] Successful.', colour='Green')
        test_count_successful += 1 # Increment Successful Test Counter...
    else:
        printmd('Test ID: [' + str(test_count_int) + '] Failed.', colour='Red')
        
    test_count_int += 1 # Increment Test Counter...
    if dataframe_collection['HE - Country level estimates_LE']['Life Expectancy (LE)_'].sum() == 65114.214550000004:
        printmd('Test ID: [' + str(test_count_int) + '] Successful.', colour='Green')
        test_count_successful += 1 # Increment Successful Test Counter...
    else:
        printmd('Test ID: [' + str(test_count_int) + '] Failed.', colour='Red')        
        
    test_count_int += 1 # Increment Test Counter...
    if dataframe_collection['HE - Region level estimates_HLE'].shape[0] == 2880:
        printmd('Test ID: [' + str(test_count_int) + '] Successful.', colour='Green')
        test_count_successful += 1 # Increment Successful Test Counter...
    else:
        printmd('Test ID: [' + str(test_count_int) + '] Failed.', colour='Red')

    test_count_int += 1 # Increment Test Counter...
    if 1 == 2: # Intentional FAILED test for demo purposes...
        printmd('Test ID: [' + str(test_count_int) + '] Successful.', colour='Green')
        test_count_successful += 1 # Increment Successful Test Counter...
    else:
        printmd('Test ID: [' + str(test_count_int) + '] Failed.', colour='Red')        

        
    test_count_int += 1 # Increment Test Counter...
    if dataframe_collection['HE - Region level estimates_LE']['Life Expectancy (LE)_'].sum() == 118840.88113000023:
        printmd('Test ID: [' + str(test_count_int) + '] Successful.', colour='Green')
        test_count_successful += 1 # Increment Successful Test Counter...
    else:
        printmd('Test ID: [' + str(test_count_int) + '] Failed.', colour='Red')
                      
printmd('**Test Rating: ' + str(round(test_count_successful/test_count_int*100,2)) + '% Successful.**', colour='Magenta')

<span style='color:Green'>Test ID: [1] Successful.</span>

<span style='color:Green'>Test ID: [2] Successful.</span>

<span style='color:Green'>Test ID: [3] Successful.</span>

<span style='color:Green'>Test ID: [4] Successful.</span>

<span style='color:Green'>Test ID: [5] Successful.</span>

<span style='color:Red'>Test ID: [6] Failed.</span>

<span style='color:Green'>Test ID: [7] Successful.</span>

<span style='color:Magenta'>**Test Rating: 85.71% Successful.**</span>

In the event that tests are failing - it may be wise to terminate the testing framework / testing component / Notebook or communicate the results and messages to downstream processes etc. However for our purposes of this particular Notebook we will just continue.

*Having trouble using Python 'assert' or Panda's Dataframe equality checks? A lot of the time, it's the schema that doesn't 'match' even though the data entries appear to be the same.*

***Try the following code-snippet to investigate schemas:***

In [323]:
my_expecteddata.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 1 to 1
Data columns (total 8 columns):
Period                             1 non-null object
Code                               1 non-null object
Sex                                1 non-null object
age group                          1 non-null object
Healthy Life Expectancy (HLE) _    1 non-null float64
HLE Lower CI_                      1 non-null float64
HLE Upper CI_                      1 non-null float64
TransformationType                 1 non-null object
dtypes: float64(3), object(5)
memory usage: 72.0+ bytes

***With our older / existing process flow we would transfer the wrangled data outputs to a .csv file, but for our purposes we'll leave the data in memory.***

### Stage 5: Creating or Mapping Reference Data and Data Markers:

**To create an RDF output we need the data (.csv) and associated meta data (.json). Here we focus on the meta data.**
* *We must isolate the dimensions (keys) from the observations (values).*
    * Generate the components from the transforms (i.e. from the tidy data outputs)...
    * Strip out data elements - remove all dimensions to leave only the observations...
        * *...thus providing us with our codelist(s) keys.*
        * ***Note:***
        *This must be done manually!*

In [324]:
codelist_cols = []
dataframe_elements_collection = {}

# Obtain all data elements (columns) from data outputs (tidy data):
i = 0
if boo_pythonNB_environment == True:
    for key in dataframe_collection.keys():
        codelist_cols.append((list(dataframe_collection[key].columns)))
        printmd('**Extracted columns from dataset ' + key + ":**", colour='Green')
        printmd(codelist_cols[i], colour='Grey')  
        i += 1
    
# Generate a collection of dataframes - default all entries to dimensions for time being intentionally...
i = 0
for key in dataframe_collection.keys():
    for x in range(len(codelist_cols[i])):
        df_components = pd.DataFrame(codelist_cols[i],columns=[key])
    df_components['Entry Type']='Dimension'
    dataframe_elements_collection[key] = df_components
    i += 1

# Display:
i = 0
for key in dataframe_elements_collection.keys():
    printmd("\n" + "="*100, colour='Grey')
    printmd('Initial Component DataFrame for: ' + key + '.', colour='Blue')
    printmd("="*100, colour='Grey')
    #print(dataframe_elements_collection[key]) #Print like this for Logs...  
    display(dataframe_elements_collection[key])
    i += 1

<span style='color:Green'>**Extracted columns from dataset HE - Country level estimates_LE:**</span>

<span style='color:Grey'>['Period', 'Code', 'Sex', 'age group', 'Life Expectancy (LE)_', 'LE Lower CI_', 'LE Upper CI_', 'TransformationType']</span>

<span style='color:Green'>**Extracted columns from dataset HE - Country level estimates_HLE:**</span>

<span style='color:Grey'>['Period', 'Code', 'Sex', 'age group', 'Healthy Life Expectancy (HLE) _', 'HLE Lower CI_', 'HLE Upper CI_', 'TransformationType']</span>

<span style='color:Green'>**Extracted columns from dataset HE - Region level estimates_LE:**</span>

<span style='color:Grey'>['Period', 'Code', 'Sex', 'Age group', 'Life Expectancy (LE)_', 'LE Lower CI_', 'LE Upper CI_', 'TransformationType']</span>

<span style='color:Green'>**Extracted columns from dataset HE - Region level estimates_HLE:**</span>

<span style='color:Grey'>['Period', 'Code', 'Sex', 'Age group', 'Healthy Life Expectancy (HLE) _', 'HLE Lower CI_', 'HLE Upper CI_', 'TransformationType']</span>

<span style='color:Grey'>
====================================================================================================</span>

<span style='color:Blue'>Initial Component DataFrame for: HE - Country level estimates_LE.</span>

<span style='color:Grey'>====================================================================================================</span>

  HE - Country level estimates_LE Entry Type
0                          Period  Dimension
1                            Code  Dimension
2                             Sex  Dimension
3                       age group  Dimension
4           Life Expectancy (LE)_  Dimension
5                    LE Lower CI_  Dimension
6                    LE Upper CI_  Dimension
7              TransformationType  Dimension

<span style='color:Grey'>
====================================================================================================</span>

<span style='color:Blue'>Initial Component DataFrame for: HE - Country level estimates_HLE.</span>

<span style='color:Grey'>====================================================================================================</span>

  HE - Country level estimates_HLE Entry Type
0                           Period  Dimension
1                             Code  Dimension
2                              Sex  Dimension
3                        age group  Dimension
4  Healthy Life Expectancy (HLE) _  Dimension
5                    HLE Lower CI_  Dimension
6                    HLE Upper CI_  Dimension
7               TransformationType  Dimension

<span style='color:Grey'>
====================================================================================================</span>

<span style='color:Blue'>Initial Component DataFrame for: HE - Region level estimates_LE.</span>

<span style='color:Grey'>====================================================================================================</span>

  HE - Region level estimates_LE Entry Type
0                         Period  Dimension
1                           Code  Dimension
2                            Sex  Dimension
3                      Age group  Dimension
4          Life Expectancy (LE)_  Dimension
5                   LE Lower CI_  Dimension
6                   LE Upper CI_  Dimension
7             TransformationType  Dimension

<span style='color:Grey'>
====================================================================================================</span>

<span style='color:Blue'>Initial Component DataFrame for: HE - Region level estimates_HLE.</span>

<span style='color:Grey'>====================================================================================================</span>

   HE - Region level estimates_HLE Entry Type
0                           Period  Dimension
1                             Code  Dimension
2                              Sex  Dimension
3                        Age group  Dimension
4  Healthy Life Expectancy (HLE) _  Dimension
5                    HLE Lower CI_  Dimension
6                    HLE Upper CI_  Dimension
7               TransformationType  Dimension

***Define the observations in the data item catalogues:***

In [326]:
# Manual, non-automatable step:

# This could / shuld be wrapped in a function / component wrapper etc...
# Using loop as all transforms in this example use same data elements (columns):
for key in dataframe_elements_collection.keys():
    dataframe_elements_collection[key].loc[dataframe_elements_collection[key][key] == 'Life Expectancy (LE)_', ['Entry Type']] = 'Measure'
    dataframe_elements_collection[key].loc[dataframe_elements_collection[key][key] == 'LE Lower CI_', ['Entry Type']] = 'Observation'
    dataframe_elements_collection[key].loc[dataframe_elements_collection[key][key] == 'LE Upper CI_', ['Entry Type']] = 'Observation'
    dataframe_elements_collection[key].loc[dataframe_elements_collection[key][key] == 'Healthy Life Expectancy (HLE) _', ['Entry Type']] = 'Measure'
    dataframe_elements_collection[key].loc[dataframe_elements_collection[key][key] == 'HLE Lower CI_', ['Entry Type']] = 'Observation'
    dataframe_elements_collection[key].loc[dataframe_elements_collection[key][key] == 'HLE Upper CI_', ['Entry Type']] = 'Observation'
    #dataframe_elements_collection[key].loc[dataframe_elements_collection[key][key] == 'Proportion of Life Spent in "Good" Health (%)_', ['Entry Type']] = 'Observation'


# Render the Results:
i = 0
printmd("\n" + "="*115, colour='Grey')
printmd('**WARNING!:**' + ' Please be AWARE that you should not proceed until the data items are correctly assigned as being either a Dimension or an Observation.', colour='Red')
printmd('*If the results below show errors please fix by re-factoring your code and re-run.*', colour='Red')
printmd("\n" + "="*115, colour='Grey')
for key in dataframe_elements_collection.keys():
    printmd("\n" + "="*100, colour='Grey')
    printmd('Revised Component DataFrame for: ' + key + '.', colour='Blue')
    printmd("="*100, colour='Grey')
    #print(dataframe_elements_collection[key]) #Print like this for Logs...  
    display(dataframe_elements_collection[key])
    i += 1

<span style='color:Grey'>
===================================================================================================================</span>

<span style='color:Red'>**WARNING!:** Please be AWARE that you should not proceed until the data items are correctly assigned as being either a Dimension or an Observation.</span>

<span style='color:Red'>*If the results below show errors please fix by re-factoring your code and re-run.*</span>

<span style='color:Grey'>
===================================================================================================================</span>

<span style='color:Grey'>
====================================================================================================</span>

<span style='color:Blue'>Revised Component DataFrame for: HE - Country level estimates_LE.</span>

<span style='color:Grey'>====================================================================================================</span>

  HE - Country level estimates_LE   Entry Type
0                          Period    Dimension
1                            Code    Dimension
2                             Sex    Dimension
3                       age group    Dimension
4           Life Expectancy (LE)_      Measure
5                    LE Lower CI_  Observation
6                    LE Upper CI_  Observation
7              TransformationType    Dimension

<span style='color:Grey'>
====================================================================================================</span>

<span style='color:Blue'>Revised Component DataFrame for: HE - Country level estimates_HLE.</span>

<span style='color:Grey'>====================================================================================================</span>

  HE - Country level estimates_HLE   Entry Type
0                           Period    Dimension
1                             Code    Dimension
2                              Sex    Dimension
3                        age group    Dimension
4  Healthy Life Expectancy (HLE) _      Measure
5                    HLE Lower CI_  Observation
6                    HLE Upper CI_  Observation
7               TransformationType    Dimension

<span style='color:Grey'>
====================================================================================================</span>

<span style='color:Blue'>Revised Component DataFrame for: HE - Region level estimates_LE.</span>

<span style='color:Grey'>====================================================================================================</span>

  HE - Region level estimates_LE   Entry Type
0                         Period    Dimension
1                           Code    Dimension
2                            Sex    Dimension
3                      Age group    Dimension
4          Life Expectancy (LE)_      Measure
5                   LE Lower CI_  Observation
6                   LE Upper CI_  Observation
7             TransformationType    Dimension

<span style='color:Grey'>
====================================================================================================</span>

<span style='color:Blue'>Revised Component DataFrame for: HE - Region level estimates_HLE.</span>

<span style='color:Grey'>====================================================================================================</span>

   HE - Region level estimates_HLE   Entry Type
0                           Period    Dimension
1                             Code    Dimension
2                              Sex    Dimension
3                        Age group    Dimension
4  Healthy Life Expectancy (HLE) _      Measure
5                    HLE Lower CI_  Observation
6                    HLE Upper CI_  Observation
7               TransformationType    Dimension

***Once the Entry Types of Dimension / Observation have been correctly assigned we can proceed...***

**Creating the Codelists:**

In [327]:
dataframe_codelists_collection = {}

printmd("\n" + "="*100, colour='Grey')
printmd('Identified Dimension Entries:', colour='Blue')
printmd("="*100, colour='Grey')


for key in dataframe_elements_collection.keys():
    df_result = pd.DataFrame(columns = ['DropMe'])

    df_temp = dataframe_elements_collection[key].loc[dataframe_elements_collection[key]['Entry Type'] == 'Dimension']
    display(df_temp)
    codelist_cols = []
    for rows in df_temp.itertuples():
        codelist_cols_temp = rows[1]
        codelist_cols.append(codelist_cols_temp)

    
    for col in dataframe_collection[key]:
        if col in codelist_cols:
            my_codelist_lst = dataframe_collection[key][col].unique()
            df_codelist = pd.DataFrame(my_codelist_lst, columns = [col])
            df_result = pd.concat([df_result, df_codelist], axis = 1, ignore_index=False, sort=False)
    df_result = df_result.drop('DropMe', 1)
    dataframe_codelists_collection[key] = df_result


for key in dataframe_codelists_collection.keys():
    printmd("\n" + "="*100, colour='Grey')
    printmd('Codelists DataFrame for: ' + key + '.', colour='Blue')
    printmd("="*100, colour='Grey')
    display(dataframe_codelists_collection[key])

<span style='color:Grey'>
====================================================================================================</span>

<span style='color:Blue'>Identified Dimension Entries:</span>

<span style='color:Grey'>====================================================================================================</span>

  HE - Country level estimates_LE Entry Type
0                          Period  Dimension
1                            Code  Dimension
2                             Sex  Dimension
3                       age group  Dimension
7              TransformationType  Dimension

  HE - Country level estimates_HLE Entry Type
0                           Period  Dimension
1                             Code  Dimension
2                              Sex  Dimension
3                        age group  Dimension
7               TransformationType  Dimension

  HE - Region level estimates_LE Entry Type
0                         Period  Dimension
1                           Code  Dimension
2                            Sex  Dimension
3                      Age group  Dimension
7             TransformationType  Dimension

  HE - Region level estimates_HLE Entry Type
0                          Period  Dimension
1                            Code  Dimension
2                             Sex  Dimension
3                       Age group  Dimension
7              TransformationType  Dimension

<span style='color:Grey'>
====================================================================================================</span>

<span style='color:Blue'>Codelists DataFrame for: HE - Country level estimates_LE.</span>

<span style='color:Grey'>====================================================================================================</span>

,Period,Code,Sex,age group,TransformationType
0,gregorian-interval/2009-03-31T00:00:00/P3Y,E92000001,M,lessthan1,LE
1,gregorian-interval/2010-03-31T00:00:00/P3Y,K02000001,F,01-04,NaN
2,gregorian-interval/2011-03-31T00:00:00/P3Y,N92000002,NaN,05-09,NaN
3,gregorian-interval/2012-03-31T00:00:00/P3Y,S92000003,NaN,10-14,NaN
4,gregorian-interval/2013-03-31T00:00:00/P3Y,W92000004,NaN,15-19,NaN
5,gregorian-interval/2014-03-31T00:00:00/P3Y,NaN,NaN,20-24,NaN
6,gregorian-interval/2015-03-31T00:00:00/P3Y,NaN,NaN,25-29,NaN
7,gregorian-interval/2016-03-31T00:00:00/P3Y,NaN,NaN,30-34,NaN
8,NaN,NaN,NaN,35-39,NaN
9,NaN,NaN,NaN,40-44,NaN
10,NaN,NaN,NaN,45-49,NaN
11,NaN,NaN,NaN,50-54,NaN
12,NaN,NaN,NaN,55-59,NaN
13,NaN,NaN,NaN,60-64,NaN
14,NaN,NaN,NaN,65-69,NaN
15,NaN,NaN,NaN,70-74,NaN
16,NaN,NaN,NaN,75-79,NaN
17,NaN,NaN,NaN,80-84,NaN
18,NaN,NaN,NaN,85-89,NaN
19,NaN,NaN,NaN,90plus,NaN

<span style='color:Grey'>
====================================================================================================</span>

<span style='color:Blue'>Codelists DataFrame for: HE - Country level estimates_HLE.</span>

<span style='color:Grey'>====================================================================================================</span>

,Period,Code,Sex,age group,TransformationType
0,gregorian-interval/2009-03-31T00:00:00/P3Y,E92000001,M,lessthan1,HLE
1,gregorian-interval/2010-03-31T00:00:00/P3Y,K02000001,F,01-04,NaN
2,gregorian-interval/2011-03-31T00:00:00/P3Y,N92000002,NaN,05-09,NaN
3,gregorian-interval/2012-03-31T00:00:00/P3Y,S92000003,NaN,10-14,NaN
4,gregorian-interval/2013-03-31T00:00:00/P3Y,W92000004,NaN,15-19,NaN
5,gregorian-interval/2014-03-31T00:00:00/P3Y,NaN,NaN,20-24,NaN
6,gregorian-interval/2015-03-31T00:00:00/P3Y,NaN,NaN,25-29,NaN
7,gregorian-interval/2016-03-31T00:00:00/P3Y,NaN,NaN,30-34,NaN
8,NaN,NaN,NaN,35-39,NaN
9,NaN,NaN,NaN,40-44,NaN
10,NaN,NaN,NaN,45-49,NaN
11,NaN,NaN,NaN,50-54,NaN
12,NaN,NaN,NaN,55-59,NaN
13,NaN,NaN,NaN,60-64,NaN
14,NaN,NaN,NaN,65-69,NaN
15,NaN,NaN,NaN,70-74,NaN
16,NaN,NaN,NaN,75-79,NaN
17,NaN,NaN,NaN,80-84,NaN
18,NaN,NaN,NaN,85-89,NaN
19,NaN,NaN,NaN,90plus,NaN

<span style='color:Grey'>
====================================================================================================</span>

<span style='color:Blue'>Codelists DataFrame for: HE - Region level estimates_LE.</span>

<span style='color:Grey'>====================================================================================================</span>

,Period,Code,Sex,Age group,TransformationType
0,gregorian-interval/2009-03-31T00:00:00/P3Y,E12000001,M,lessthan1,LE
1,gregorian-interval/2010-03-31T00:00:00/P3Y,E12000002,F,01-04,NaN
2,gregorian-interval/2011-03-31T00:00:00/P3Y,E12000003,NaN,05-09,NaN
3,gregorian-interval/2012-03-31T00:00:00/P3Y,E12000004,NaN,10-14,NaN
4,gregorian-interval/2013-03-31T00:00:00/P3Y,E12000005,NaN,15-19,NaN
5,gregorian-interval/2014-03-31T00:00:00/P3Y,E12000006,NaN,20-24,NaN
6,gregorian-interval/2015-03-31T00:00:00/P3Y,E12000007,NaN,25-29,NaN
7,gregorian-interval/2016-03-31T00:00:00/P3Y,E12000008,NaN,30-34,NaN
8,NaN,E12000009,NaN,35-39,NaN
9,NaN,NaN,NaN,40-44,NaN
10,NaN,NaN,NaN,45-49,NaN
11,NaN,NaN,NaN,50-54,NaN
12,NaN,NaN,NaN,55-59,NaN
13,NaN,NaN,NaN,60-64,NaN
14,NaN,NaN,NaN,65-69,NaN
15,NaN,NaN,NaN,70-74,NaN
16,NaN,NaN,NaN,75-79,NaN
17,NaN,NaN,NaN,80-84,NaN
18,NaN,NaN,NaN,85-89,NaN
19,NaN,NaN,NaN,90plus,NaN

<span style='color:Grey'>
====================================================================================================</span>

<span style='color:Blue'>Codelists DataFrame for: HE - Region level estimates_HLE.</span>

<span style='color:Grey'>====================================================================================================</span>

,Period,Code,Sex,Age group,TransformationType
0,gregorian-interval/2009-03-31T00:00:00/P3Y,E12000001,M,lessthan1,HLE
1,gregorian-interval/2010-03-31T00:00:00/P3Y,E12000002,F,01-04,NaN
2,gregorian-interval/2011-03-31T00:00:00/P3Y,E12000003,NaN,05-09,NaN
3,gregorian-interval/2012-03-31T00:00:00/P3Y,E12000004,NaN,10-14,NaN
4,gregorian-interval/2013-03-31T00:00:00/P3Y,E12000005,NaN,15-19,NaN
5,gregorian-interval/2014-03-31T00:00:00/P3Y,E12000006,NaN,20-24,NaN
6,gregorian-interval/2015-03-31T00:00:00/P3Y,E12000007,NaN,25-29,NaN
7,gregorian-interval/2016-03-31T00:00:00/P3Y,E12000008,NaN,30-34,NaN
8,NaN,E12000009,NaN,35-39,NaN
9,NaN,NaN,NaN,40-44,NaN
10,NaN,NaN,NaN,45-49,NaN
11,NaN,NaN,NaN,50-54,NaN
12,NaN,NaN,NaN,55-59,NaN
13,NaN,NaN,NaN,60-64,NaN
14,NaN,NaN,NaN,65-69,NaN
15,NaN,NaN,NaN,70-74,NaN
16,NaN,NaN,NaN,75-79,NaN
17,NaN,NaN,NaN,80-84,NaN
18,NaN,NaN,NaN,85-89,NaN
19,NaN,NaN,NaN,90plus,NaN

### Stage 6: Loading and Matching our Transforms with our Reference Data:

**As per Stage 5; to create an RDF output we need the data (.csv) and associated meta data (.json). Here we focus on the meta data.**
* *We must associate our transformed data dimensions with our reference data repository / master database.*
    * Step (a): Load in reference data.
    * Step (b): Map / associate reference data with our transformed data entities / dimensions.
        * *Note an automated attempt to map is conducted - but manual intervention is likely.*

In [328]:
# Specify the source of the reference data master (currently COGS has a split-by-data-family configuration):
url_ref_repo_components = "https://raw.githubusercontent.com/GSS-Cogs/family-disability/master/reference/components.csv"
url_ref_repo_columns = "https://raw.githubusercontent.com/GSS-Cogs/family-disability/master/reference/columns.csv"

In [329]:
df_ref_repo_columns = pd.read_csv(url_ref_repo_columns)
printmd('**Displaying: ' + url_ref_repo_columns + ':**')
display(df_ref_repo_columns)

df_ref_repo_components = pd.read_csv(url_ref_repo_components)
printmd('**Displaying: ' + url_ref_repo_components + ':**')
display(df_ref_repo_components)

<span style='color:None'>**Displaying: https://raw.githubusercontent.com/GSS-Cogs/family-disability/master/reference/columns.csv:**</span>

,title,name,component_attachment,property_template,value_template,datatype,value_transformation,regex,range
0,Measure Type,measure_type,qb:dimension,http://purl.org/linked-data/cube#measureType,http://gss-data.org.uk/def/measure/{measure_type},string,slugize,NaN,qb:MeasureProperty
1,Area,area,qb:dimension,http://purl.org/linked-data/sdmx/2009/dimensio...,http://statistics.data.gov.uk/id/statistical-g...,string,NaN,NaN,NaN
2,Sex,sex,qb:dimension,http://purl.org/linked-data/sdmx/2009/dimensio...,http://purl.org/linked-data/sdmx/2009/code#sex...,string,NaN,^(M|F|T|U|N)$,http://purl.org/linked-data/sdmx/2009/code#Sex
3,Age,age,qb:dimension,http://purl.org/linked-data/sdmx/2009/dimensio...,http://gss-data.org.uk/def/concept/ages/{age},string,slugize,NaN,NaN
4,Household Disability Status,household_disability_status,qb:dimension,http://gss-data.org.uk/def/dimension/household...,http://gss-data.org.uk/def/concept/household-d...,string,slugize,NaN,http://gss-data.org.uk/def/classes/household-d...
5,Workless Household Type,workless_household_type,qb:dimension,http://gss-data.org.uk/def/dimension/workless-...,http://gss-data.org.uk/def/concept/workless-ho...,string,slugize,NaN,http://gss-data.org.uk/def/classes/workless-ho...
6,Unit,unit,qb:attribute,http://purl.org/linked-data/sdmx/2009/attribut...,http://gss-data.org.uk/def/concept/measurement...,string,unitize,NaN,NaN
7,Sample Size,sample_size,qb:attribute,http://gss-data.org.uk/def/attribute/sample-size,NaN,number,NaN,NaN,NaN
8,Lower CI,lower_ci,qb:attribute,http://gss-data.org.uk/def/attribute/lower-ci,NaN,number,NaN,NaN,NaN
9,Upper CI,upper_ci,qb:attribute,http://gss-data.org.uk/def/attribute/upper-ci,NaN,number,NaN,NaN,NaN
10,Value,value,NaN,http://gss-data.org.uk/def/measure/{measure_type},NaN,number,NaN,NaN,NaN
11,Severity,severity,qb:dimension,http://gss-data.org.uk/def/dimension/severity,http://gss-data.org.uk/def/concept/severity/{s...,string,slugize,NaN,NaN
12,Hours per Week,hours_per_week,qb:dimension,http://gss-data.org.uk/def/dimension/hours-per...,http://gss-data.org.uk/def/concept/hours-per-w...,string,slugize,NaN,http://gss-data.org.uk/def/classes/gp-practice...
13,FRS Units,frs_units,qb:dimension,http://gss-data.org.uk/def/dimension/frs-units,http://gss-data.org.uk/def/concept/frs-units/{...,string,slugize,NaN,http://gss-data.org.uk/def/classes/gp-practice...
14,Employment Status,employment_status,qb:dimension,http://gss-data.org.uk/def/dimension/employmen...,http://gss-data.org.uk/def/concept/employment-...,string,slugize,NaN,http://gss-data.org.uk/def/classes/gp-practice...
15,Employment Type,employment_type,qb:dimension,http://gss-data.org.uk/def/dimension/employmen...,http://gss-data.org.uk/def/concept/employment-...,string,slugize,NaN,http://gss-data.org.uk/def/classes/gp-practice...
16,Adult Carer,adult_carer,qb:dimension,http://gss-data.org.uk/def/dimension/adult-carer,http://gss-data.org.uk/def/concept/adult-carer...,string,slugize,NaN,http://gss-data.org.uk/def/classes/gp-practice...
17,Source of Income,source_of_income,qb:dimension,http://gss-data.org.uk/def/dimension/source-of...,http://gss-data.org.uk/def/concept/source-of-i...,string,slugize,NaN,http://gss-data.org.uk/def/classes/gp-practice...
18,Net Weekly Income,net_weekly_income,qb:dimension,http://gss-data.org.uk/def/dimension/net-weekl...,http://gss-data.org.uk/def/concept/net-weekly-...,string,slugize,NaN,http://gss-data.org.uk/def/classes/gp-practice...
19,Person cared for Type,person_cared_for_type,qb:dimension,http://gss-data.org.uk/def/dimension/person-ca...,http://gss-data.org.uk/def/concept/person-care...,string,slugize,NaN,http://gss-data.org.uk/def/classes/gp-practice...
20,Person cared for,person_cared_for,qb:dimension,http://gss-data.org.uk/def/dimension/person-ca...,http://gss-data.org.uk/def/concept/person-care...,string,slugize,NaN,http://gss-data.org.uk/def/classes/gp-practice...
21,Frequency of care,frequency_of_care,qb:dimension,http://gss-data.org.uk/def/dimension/frequency...,http://gss-data.org.uk/def/concept/frequency-o...,string,slugize,NaN,http://gss-data.org.uk/def/classes/gp-practice...
22,NHS Geography,nhs_geography,qb:dimension,http://gss-data.org.uk/def/dimension/nhs-geogr...,http://gss-data.org.uk/def/concept/nhs-geograp...,string,NaN,NaN,http://gss-data.org.uk/def/classes/gp-practice...
23,ONS Geography,ons_geography,qb:dimension,http://purl.org/linked-data/sdmx/2009/dimensio...,http://statistics.data.gov.uk/id/statistical-g...,string,NaN,[A-Z][0-9]{8},NaN
24,Disability,disability,qb:dimension,http://gss-data.org.uk/def/dimension/disability,http://gss-data.org.uk/def/concept/disability/...,string,NaN,NaN,http://gss-data.org.uk/def/classes/disability/...
25,Period,period,qb:dimension,http://purl.org/linked-data/sdmx/2009/dimensio...,http://reference.data.gov.uk/id/{+period},string,NaN,^(year/[0-9]{4}|gregorian-interval/.*|month/[0...,http://reference.data.gov.uk/def/intervals/Int...
26,FRS Age Group,frs_age_group,qb:dimension,http://purl.org/linked-data/sdmx/2009/dimensio...,http://gss-data.org.uk/def/concept/dwp-frs-age...,string,NaN,NaN,http://gss-data.org.uk/def/classes/dwp-frs-age...
27,Marker,marker,qb:attribute,http://purl.org/linked-data/sdmx/2009/attribut...,http://gss-data.org.uk/def/concept/marker/{mar...,string,NaN,NaN,NaN
28,Reasons for failing to maintain accommodation,reasons_for_failing_to_maintain_accommodation,qb:dimension,http://gss-data.org.uk/def/dimension/reasons-f...,http://gss-data.org.uk/def/concept/reasons-for...,string,NaN,NaN,http://gss-data.org.uk/def/classes/homelessnes...
29,Identified support needs of homeless households,identified_support_needs_of_homeless_households,qb:dimension,http://gss-data.org.uk/def/dimension/identifie...,http://gss-data.org.uk/def/concept/identified-...,string,NaN,NaN,http://gss-data.org.uk/def/classes/homelessnes...
...,...,...,...,...,...,...,...,...,...
103,Reporting Period,period,qb:dimension,http://purl.org/linked-data/sdmx/2009/dimensio...,http://reference.data.gov.uk/id/{+period},string,NaN,^(year/[0-9]{4}|gregorian-interval/.*|month/[0...,http://reference.data.gov.uk/def/intervals/Int...
104,Breakdown,breakdown,qb:dimension,http://gss-data.org.uk/def/dimension/breakdown,http://gss-data.org.uk/def/concept/breakdown/{...,string,slugize,NaN,http://gss-data.org.uk/def/classes/breakdown/b...
105,CCG Indicator,ccg_indicator,qb:dimension,http://gss-data.org.uk/def/dimension/ccg-indic...,http://gss-data.org.uk/def/concept/ccg-indicat...,string,slugize,NaN,http://gss-data.org.uk/def/classes/ccg-indicat...
106,NHS Level,nhs_level,qb:dimension,http://gss-data.org.uk/def/dimension/nhs-level,http://gss-data.org.uk/def/concept/nhs-level/{...,string,slugize,NaN,http://gss-data.org.uk/def/classes/nhs-level/n...
107,Markers,markers,qb:attribute,http://purl.org/linked-data/sdmx/2009/attribut...,http://gss-data.org.uk/def/concept/markers/{ma...,string,slugize,NaN,NaN
108,Disability Status,disability_status,qb:dimension,http://gss-data.org.uk/def/dimension/disabilit...,http://gss-data.org.uk/def/concept/disability-...,string,slugize,NaN,http://gss-data.org.uk/def/classes/disability-...
109,Responsibility Level,responsibility_level,qb:dimension,http://gss-data.org.uk/def/dimension/responsib...,http://gss-data.org.uk/def/concept/responsibil...,string,slugize,NaN,http://gss-data.org.uk/def/classes/responsibil...
110,Department,department,qb:dimension,http://gss-data.org.uk/def/dimension/department,http://gss-data.org.uk/def/concept/department/...,string,slugize,NaN,http://gss-data.org.uk/def/classes/department/...
111,Salary Band,salary_band,qb:dimension,http://gss-data.org.uk/def/dimension/salary-band,http://gss-data.org.uk/def/concept/salary-band...,string,slugize,NaN,http://gss-data.org.uk/def/classes/salary-band...
112,Profession of Post,profession_of_post,qb:dimension,http://gss-data.org.uk/def/dimension/professio...,http://gss-data.org.uk/def/concept/profession-...,string,slugize,NaN,http://gss-data.org.uk/def/classes/profession-...
113,Nationality,nationality,qb:dimension,http://gss-data.org.uk/def/dimension/nationality,http://gss-data.org.uk/def/concept/nationality...,string,slugize,NaN,http://gss-data.org.uk/def/classes/nationality...
114,Ethnicity,ethnicity,qb:dimension,http://gss-data.org.uk/def/dimension/ethnicity,http://gss-data.org.uk/def/concept/ethnicity/{...,string,slugize,NaN,http://gss-data.org.uk/def/classes/ethnicity/e...
115,Entrants or Leavers,entrants_or_leavers,qb:dimension,http://gss-data.org.uk/def/dimension/entrants-...,http://gss-data.org.uk/def/concept/entrants-or...,string,slugize,NaN,http://gss-data.org.uk/def/classes/entrants-or...
116,Type of Employment,type_of_employment,qb:dimension,http://gss-data.org.uk/def/dimension/type-of-e...,http://gss-data.org.uk/def/concept/type-of-emp...,string,slugize,NaN,http://gss-data.org.uk/def/classes/type-of-emp...
117,Status of Employment,status_of_employment,qb:dimension,http://gss-data.org.uk/def/dimension/status-of...,http://gss-data.org.uk/def/concept/status-of-e...,string,slugize,NaN,http://gss-data.org.uk/def/classes/status-of-e...
118,NUTS Region name,nuts_region_name,qb:dimension,http://gss-data.org.uk/def/dimension/nuts-regi...,http://gss-data.org.uk/def/concept/nuts-region...,string,slugize,NaN,http://gss-data.org.uk/def/classes/nuts-region...
119,NUTS Area Code,nuts_area_code,qb:dimension,http://gss-data.org.uk/def/dimension/nuts-area...,http://gss-data.org.uk/def/concept/nuts-area-c...,string,slugize,NaN,http://gss-data.org.uk/def/classes/nuts-area-c...
120,Life Expectancy Estimate Type,life_expectancy_estimate_type,qb:dimension,http://gss-data.org.uk/def/dimension/life-expe...,http://gss-data.org.uk/def/concept/life-expect...,string,slugize,NaN,http://gss-data.org.uk/def/classes/life-expect...
121,Headcount,headcount,qb:measure,http://gss-data.org.uk/def/measure/headcount,NaN,number,NaN,NaN,NaN
122,All Employees,all_employees,qb:measure,http://gss-data.org.uk/def/measure/all-employees,NaN,number,NaN,NaN,NaN
123,Median gender pay gap in percent,median_gender_pay_gap_in_percent,qb:measure,http://gss-data.org.uk/def/measure/median-gend...,NaN,number,NaN,NaN,NaN
124,Mean Earnings,mean_earnings,qb:measure,http://gss-data.org.uk/def/measure/mean-earnings,NaN,number,NaN,NaN,NaN
125,Median Earnings,median_earnings,qb:measure,http://gss-data.org.uk/def/measure/median-earn...,NaN,number,NaN,NaN,NaN
126,Percentage of each Gender by department,percentage_of_each_gender_by_department,qb:measure,http://gss-data.org.uk/def/measure/percentage-...,NaN,number,NaN,NaN,NaN
127,DfE Geography,dfe_geography,qb:dimension,http://gss-data.org.uk/def/dimension/dfe-geogr...,http://gss-data.org.uk/def/concept/dfe-age-gro...,string,NaN,NaN,http://gss-data.org.uk/def/classes/dfe_geograp...
128,DfE Statements of SEN or EHC Plan Description,dfe_statements_of_sen_or_ehc_plan_description,qb:dimension,http://gss-data.org.uk/def/dimension/dfe_state...,http://gss-data.org.uk/def/concept/dfe-age-gro...,string,NaN,NaN,http://gss-data.org.uk/def/classes/dfe_stateme...
129,DfE Statements or EHC Plan Type,dfe_statements_or_ehc_plan_type,qb:dimension,http://gss-data.org.uk/def/dimension/dfe_state...,http://gss-data.org.uk/def/concept/dfe-age-gro...,string,NaN,NaN,http://gss-data.org.uk/def/classes/dfe_stateme...
130,DfE Statements of SEN or EHC Plan Provider,dfe_statements_of_sen_or_ehc_plan_provider,qb:dimension,http://gss-data.org.uk/def/dimension/dfe_state...,http://gss-data.org.uk/def/concept/dfe-age-gro...,string,NaN,NaN,http://gss-data.org.uk/def/classes/dfe_stateme...
131,DfE Marker,dfe_marker,qb:dimension,http://gss-data.org.uk/def/dimension/dfe_marker,http://gss-data.org.uk/def/concept/dfe-age-gro...,string,NaN,NaN,http://gss-data.org.uk/def/classes/dfe_marker/...
132,ONS Marker,ons_marker,qb:attribute,http://purl.org/linked-data/sdmx/2009/attribut...,http://gss-data.org.uk/def/concept/ons-marker/...,string,NaN,NaN,NaN

<span style='color:None'>**Displaying: https://raw.githubusercontent.com/GSS-Cogs/family-disability/master/reference/components.csv:**</span>

,Label,Description,Component Type,Codelist
0,Household Disability Status,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/hous...
1,Workless Household Type,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/work...
2,Percentage of People,The percentage of all people measured who meet...,Measure,NaN
3,Identified support needs of homeless households,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/iden...
4,Reasons for failing to maintain accommodation,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/reas...
5,Reasons for homelessness application,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/reas...
6,Indicator,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/indi...
7,Trend,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/trend
8,Standard Population,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/phe-...
9,County & UA (pre Apr2019) deprivation deciles ...,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/coun...
10,District & UA (pre Apr2019) deprivation decil...,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/dist...
11,County & UA deprivation deciles in England (IM...,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/coun...
12,District & UA deprivation deciles in England (...,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/dist...
13,County & UA deprivation deciles in England (IM...,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/coun...
14,District & UA deprivation deciles in England (...,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/dist...
15,County & UA deprivation deciles in England (IM...,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/coun...
16,District & UA deprivation deciles in England (...,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/dist...
17,Ethnic groups,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/ethn...
18,LSOA11 deprivation deciles in England (IMD2015),NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/lsoa...
19,Socioeconomic group (18-64 yrs),NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/soci...
20,Religion - 8 categories,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/reli...
21,Country of birth,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/coun...
22,Health status,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/heal...
23,Sexuality - 5 categories,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/sexu...
24,Percentage,Percentage,Measure,NaN
25,FRS Units,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/frs-...
26,Crude rate,NaN,Measure,NaN
27,Score,NaN,Measure,NaN
28,Directly standardised rate,NaN,Measure,NaN
29,Indirectly standardised rate,NaN,Measure,NaN
...,...,...,...,...
68,CCG Indicator,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/ccg-...
69,NHS Level,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/nhs-...
70,Markers,NaN,Attribute,http://gss-data.org.uk/def/concept-scheme/markers
71,Standardised admission rate,NaN,Measure,NaN
72,Standardised ratio,NaN,Measure,NaN
73,Standardised emergency admission rate,NaN,Measure,NaN
74,Ethnicity,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/ethn...
75,Disability Status,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/disa...
76,Nationality,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/nati...
77,Salary Band,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/sala...
78,Department,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/Depa...
79,Profession of Post,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/prof...
80,Type of Employment,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/type...
81,Status of Employment,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/stat...
82,Entrants or Leavers,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/entr...
83,Responsibility Level,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/resp...
84,NUTS Region name,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/nuts...
85,NUTS Area Code,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/nuts...
86,Life Expectancy Estimate Type,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/life...
87,Headcount,NaN,Measure,NaN
88,Median gender pay gap in percent,NaN,Measure,NaN
89,Mean Earnings,NaN,Measure,NaN
90,Median Earnings,NaN,Measure,NaN
91,Percentage of each Gender by department,NaN,Measure,NaN
92,All Employees,NaN,Measure,NaN
93,DfE Geography,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/dfe-...
94,DfE Statements of SEN or EHC Plan Description,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/dfe-...
95,DfE Statements or EHC Plan Type,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/dfe-...
96,DfE Statements of SEN or EHC Plan Provider,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/dfe-...
97,DfE Marker,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/dfe-...

**Mapping between the transformed dimensions (components) and the master reference data is completed manually.**

In [330]:
printmd("\n" + "="*115, colour='Grey')
printmd('**Please use Caution!:**' + ' Displayed below are the current components as defined by automation and manual [Entry Type] assignment.', colour='Red')
printmd('*Through code you may need to map these components with those in the master reference data repository (currently .csv files). See later code sections.*', colour='Red')
printmd("\n" + "="*115, colour='Grey')
for key in dataframe_elements_collection.keys():
    printmd("\n" + "="*100, colour='Grey')
    printmd('Revised Component DataFrame for: ' + key + '.', colour='Blue')
    printmd("="*100, colour='Grey')
    #print(dataframe_elements_collection[key]) #Print like this for Logs...  
    display(dataframe_elements_collection[key])
    i += 1

<span style='color:Grey'>
===================================================================================================================</span>

<span style='color:Red'>**Please use Caution!:** Displayed below are the current components as defined by automation and manual [Entry Type] assignment.</span>

<span style='color:Red'>*Through code you may need to map these components with those in the master reference data repository (currently .csv files). See later code sections.*</span>

<span style='color:Grey'>
===================================================================================================================</span>

<span style='color:Grey'>
====================================================================================================</span>

<span style='color:Blue'>Revised Component DataFrame for: HE - Country level estimates_LE.</span>

<span style='color:Grey'>====================================================================================================</span>

  HE - Country level estimates_LE   Entry Type
0                          Period    Dimension
1                            Code    Dimension
2                             Sex    Dimension
3                       age group    Dimension
4           Life Expectancy (LE)_      Measure
5                    LE Lower CI_  Observation
6                    LE Upper CI_  Observation
7              TransformationType    Dimension

<span style='color:Grey'>
====================================================================================================</span>

<span style='color:Blue'>Revised Component DataFrame for: HE - Country level estimates_HLE.</span>

<span style='color:Grey'>====================================================================================================</span>

  HE - Country level estimates_HLE   Entry Type
0                           Period    Dimension
1                             Code    Dimension
2                              Sex    Dimension
3                        age group    Dimension
4  Healthy Life Expectancy (HLE) _      Measure
5                    HLE Lower CI_  Observation
6                    HLE Upper CI_  Observation
7               TransformationType    Dimension

<span style='color:Grey'>
====================================================================================================</span>

<span style='color:Blue'>Revised Component DataFrame for: HE - Region level estimates_LE.</span>

<span style='color:Grey'>====================================================================================================</span>

  HE - Region level estimates_LE   Entry Type
0                         Period    Dimension
1                           Code    Dimension
2                            Sex    Dimension
3                      Age group    Dimension
4          Life Expectancy (LE)_      Measure
5                   LE Lower CI_  Observation
6                   LE Upper CI_  Observation
7             TransformationType    Dimension

<span style='color:Grey'>
====================================================================================================</span>

<span style='color:Blue'>Revised Component DataFrame for: HE - Region level estimates_HLE.</span>

<span style='color:Grey'>====================================================================================================</span>

   HE - Region level estimates_HLE   Entry Type
0                           Period    Dimension
1                             Code    Dimension
2                              Sex    Dimension
3                        Age group    Dimension
4  Healthy Life Expectancy (HLE) _      Measure
5                    HLE Lower CI_  Observation
6                    HLE Upper CI_  Observation
7               TransformationType    Dimension

In [591]:
# Automated mapping of transformed components with the master reference data:
dataframe_mapped_elements_collection = {}
dataframe_mapped_elements_collection_errors = {}

# Prepare mapping in memory component:
for key in dataframe_elements_collection.keys(): 
    dataframe_mapped_elements_collection[key] = dataframe_elements_collection[key].copy()
    #dataframe_mapped_elements_collection[key]['Linked Component'] = 'default-null'
    for cols in dataframe_mapped_elements_collection[key][key]:
        idx_temp = dataframe_mapped_elements_collection[key].index[dataframe_mapped_elements_collection[key][key] == cols]
        dataframe_mapped_elements_collection[key].loc[idx_temp, 'REFColumnsCSV Link'] = cols #slug.slug(cols) Not matched on Slugilzed as first believed!
    
# Automated first pass assignment / mapping:
for key in dataframe_elements_collection.keys():
    df_collection_point, df_collection_point_errors = align_REFdata_with_Transform(dataframe_mapped_elements_collection[key], df_ref_repo_columns, df_ref_repo_components)
    dataframe_mapped_elements_collection[key] = df_collection_point
    dataframe_mapped_elements_collection_errors[key] = df_collection_point_errors

    
printmd("\n" + "="*115, colour='Red')
printmd('**WARNING - PLEASE ADDRESS NON-MATCHING REFERENCES!**', colour='Red')
printmd("="*115, colour='Red')
for key in dataframe_mapped_elements_collection_errors.keys():
    printmd("\n" + "="*100, colour='Grey')
    printmd('UN-Mapped Component DataFrame for: ' + key + '.', colour='Red')
    printmd("="*100, colour='Grey')
    #print(dataframe_mapped_elements_collection[key]) #Print like this for Logs...  
    display(dataframe_mapped_elements_collection_errors[key])
    
    
printmd("\n" + "="*115, colour='Grey')
printmd('**Please use Caution!:**' + ' Displayed below are the current components as mapped and linked through code.', colour='Green')
printmd('*Check carefully before proceeding.*', colour='Green')
printmd("\n" + "="*115, colour='Grey')
for key in dataframe_mapped_elements_collection.keys():
    printmd("\n" + "="*100, colour='Grey')
    printmd('Mapped Component DataFrame for: ' + key + '.', colour='Green')
    printmd("="*100, colour='Grey')
    #print(dataframe_mapped_elements_collection[key]) #Print like this for Logs...  
    display(dataframe_mapped_elements_collection[key])

<span style='color:Red'>
===================================================================================================================</span>

<span style='color:Red'>**WARNING - PLEASE ADDRESS NON-MATCHING REFERENCES!**</span>

<span style='color:Red'>===================================================================================================================</span>

<span style='color:Grey'>
====================================================================================================</span>

<span style='color:Red'>UN-Mapped Component DataFrame for: HE - Country level estimates_LE.</span>

<span style='color:Grey'>====================================================================================================</span>

,HE - Country level estimates_LE,Entry Type,REFColumnsCSV Link,title,name,component_attachment,property_template,value_template,datatype,value_transformation,regex,range,_merge
1,Code,Dimension,Code,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,age group,Dimension,age group,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,Life Expectancy (LE)_,Measure,Life Expectancy (LE)_,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
5,LE Lower CI_,Observation,LE Lower CI_,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
6,LE Upper CI_,Observation,LE Upper CI_,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
7,TransformationType,Dimension,TransformationType,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

<span style='color:Grey'>
====================================================================================================</span>

<span style='color:Red'>UN-Mapped Component DataFrame for: HE - Country level estimates_HLE.</span>

<span style='color:Grey'>====================================================================================================</span>

,HE - Country level estimates_HLE,Entry Type,REFColumnsCSV Link,title,name,component_attachment,property_template,value_template,datatype,value_transformation,regex,range,_merge
1,Code,Dimension,Code,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,age group,Dimension,age group,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,Healthy Life Expectancy (HLE) _,Measure,Healthy Life Expectancy (HLE) _,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
5,HLE Lower CI_,Observation,HLE Lower CI_,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
6,HLE Upper CI_,Observation,HLE Upper CI_,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
7,TransformationType,Dimension,TransformationType,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

<span style='color:Grey'>
====================================================================================================</span>

<span style='color:Red'>UN-Mapped Component DataFrame for: HE - Region level estimates_LE.</span>

<span style='color:Grey'>====================================================================================================</span>

,HE - Region level estimates_LE,Entry Type,REFColumnsCSV Link,title,name,component_attachment,property_template,value_template,datatype,value_transformation,regex,range,_merge
1,Code,Dimension,Code,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,Age group,Dimension,Age group,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,Life Expectancy (LE)_,Measure,Life Expectancy (LE)_,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
5,LE Lower CI_,Observation,LE Lower CI_,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
6,LE Upper CI_,Observation,LE Upper CI_,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
7,TransformationType,Dimension,TransformationType,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

<span style='color:Grey'>
====================================================================================================</span>

<span style='color:Red'>UN-Mapped Component DataFrame for: HE - Region level estimates_HLE.</span>

<span style='color:Grey'>====================================================================================================</span>

,HE - Region level estimates_HLE,Entry Type,REFColumnsCSV Link,title,name,component_attachment,property_template,value_template,datatype,value_transformation,regex,range,_merge
1,Code,Dimension,Code,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,Age group,Dimension,Age group,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,Healthy Life Expectancy (HLE) _,Measure,Healthy Life Expectancy (HLE) _,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
5,HLE Lower CI_,Observation,HLE Lower CI_,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
6,HLE Upper CI_,Observation,HLE Upper CI_,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
7,TransformationType,Dimension,TransformationType,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

<span style='color:Grey'>
===================================================================================================================</span>

<span style='color:Green'>**Please use Caution!:** Displayed below are the current components as mapped and linked through code.</span>

<span style='color:Green'>*Check carefully before proceeding.*</span>

<span style='color:Grey'>
===================================================================================================================</span>

<span style='color:Grey'>
====================================================================================================</span>

<span style='color:Green'>Mapped Component DataFrame for: HE - Country level estimates_LE.</span>

<span style='color:Grey'>====================================================================================================</span>

,HE - Country level estimates_LE,Entry Type,REFColumnsCSV Link,title,name,component_attachment,property_template,value_template,datatype,value_transformation,regex,range,Label,Description,Component Type,Codelist
0,Period,Dimension,Period,Period,period,qb:dimension,http://purl.org/linked-data/sdmx/2009/dimensio...,http://reference.data.gov.uk/id/{+period},string,NaN,^(year/[0-9]{4}|gregorian-interval/.*|month/[0...,http://reference.data.gov.uk/def/intervals/Int...,NaN,NaN,NaN,NaN
1,Sex,Dimension,Sex,Sex,sex,qb:dimension,http://purl.org/linked-data/sdmx/2009/dimensio...,http://purl.org/linked-data/sdmx/2009/code#sex...,string,NaN,^(M|F|T|U|N)$,http://purl.org/linked-data/sdmx/2009/code#Sex,Sex,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/phe-sex

<span style='color:Grey'>
====================================================================================================</span>

<span style='color:Green'>Mapped Component DataFrame for: HE - Country level estimates_HLE.</span>

<span style='color:Grey'>====================================================================================================</span>

,HE - Country level estimates_HLE,Entry Type,REFColumnsCSV Link,title,name,component_attachment,property_template,value_template,datatype,value_transformation,regex,range,Label,Description,Component Type,Codelist
0,Period,Dimension,Period,Period,period,qb:dimension,http://purl.org/linked-data/sdmx/2009/dimensio...,http://reference.data.gov.uk/id/{+period},string,NaN,^(year/[0-9]{4}|gregorian-interval/.*|month/[0...,http://reference.data.gov.uk/def/intervals/Int...,NaN,NaN,NaN,NaN
1,Sex,Dimension,Sex,Sex,sex,qb:dimension,http://purl.org/linked-data/sdmx/2009/dimensio...,http://purl.org/linked-data/sdmx/2009/code#sex...,string,NaN,^(M|F|T|U|N)$,http://purl.org/linked-data/sdmx/2009/code#Sex,Sex,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/phe-sex

<span style='color:Grey'>
====================================================================================================</span>

<span style='color:Green'>Mapped Component DataFrame for: HE - Region level estimates_LE.</span>

<span style='color:Grey'>====================================================================================================</span>

,HE - Region level estimates_LE,Entry Type,REFColumnsCSV Link,title,name,component_attachment,property_template,value_template,datatype,value_transformation,regex,range,Label,Description,Component Type,Codelist
0,Period,Dimension,Period,Period,period,qb:dimension,http://purl.org/linked-data/sdmx/2009/dimensio...,http://reference.data.gov.uk/id/{+period},string,NaN,^(year/[0-9]{4}|gregorian-interval/.*|month/[0...,http://reference.data.gov.uk/def/intervals/Int...,NaN,NaN,NaN,NaN
1,Sex,Dimension,Sex,Sex,sex,qb:dimension,http://purl.org/linked-data/sdmx/2009/dimensio...,http://purl.org/linked-data/sdmx/2009/code#sex...,string,NaN,^(M|F|T|U|N)$,http://purl.org/linked-data/sdmx/2009/code#Sex,Sex,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/phe-sex

<span style='color:Grey'>
====================================================================================================</span>

<span style='color:Green'>Mapped Component DataFrame for: HE - Region level estimates_HLE.</span>

<span style='color:Grey'>====================================================================================================</span>

,HE - Region level estimates_HLE,Entry Type,REFColumnsCSV Link,title,name,component_attachment,property_template,value_template,datatype,value_transformation,regex,range,Label,Description,Component Type,Codelist
0,Period,Dimension,Period,Period,period,qb:dimension,http://purl.org/linked-data/sdmx/2009/dimensio...,http://reference.data.gov.uk/id/{+period},string,NaN,^(year/[0-9]{4}|gregorian-interval/.*|month/[0...,http://reference.data.gov.uk/def/intervals/Int...,NaN,NaN,NaN,NaN
1,Sex,Dimension,Sex,Sex,sex,qb:dimension,http://purl.org/linked-data/sdmx/2009/dimensio...,http://purl.org/linked-data/sdmx/2009/code#sex...,string,NaN,^(M|F|T|U|N)$,http://purl.org/linked-data/sdmx/2009/code#Sex,Sex,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/phe-sex

### The next code section will / may require iteration until all elemenets are mapped:

In [593]:
# Manual mapping of transformed components with the master reference data:
# Iterate Code until all components are Mapped:


for key in dataframe_elements_collection.keys(): 
    dataframe_mapped_elements_collection[key] = dataframe_elements_collection[key].copy()
    
for key in dataframe_mapped_elements_collection.keys(): 
    dataframe_mapped_elements_collection[key][key].loc[dataframe_mapped_elements_collection[key][key] == 'Code'] = 'ONS Geography'
    dataframe_mapped_elements_collection[key][key].loc[dataframe_mapped_elements_collection[key][key] == 'age group'] = 'ONS Age Range'
    dataframe_mapped_elements_collection[key][key].loc[dataframe_mapped_elements_collection[key][key] == 'Age group'] = 'ONS Age Range'
    dataframe_mapped_elements_collection[key][key].loc[dataframe_mapped_elements_collection[key][key] == 'LE Lower CI_'] = 'Lower CI'
    dataframe_mapped_elements_collection[key][key].loc[dataframe_mapped_elements_collection[key][key] == 'HLE Lower CI_'] = 'Lower CI'
    dataframe_mapped_elements_collection[key][key].loc[dataframe_mapped_elements_collection[key][key] == 'LE Upper CI_'] = 'Upper CI'
    dataframe_mapped_elements_collection[key][key].loc[dataframe_mapped_elements_collection[key][key] == 'HLE Upper CI_'] = 'Upper CI'
    dataframe_mapped_elements_collection[key][key].loc[dataframe_mapped_elements_collection[key][key] == 'Life Expectancy (LE)_'] = 'Value'
    dataframe_mapped_elements_collection[key][key].loc[dataframe_mapped_elements_collection[key][key] == 'Healthy Life Expectancy (HLE) _'] = 'Value'
    dataframe_mapped_elements_collection[key][key].loc[dataframe_mapped_elements_collection[key][key] == 'TransformationType'] = 'Life Expectancy Estimate Type'
    
    
for key in dataframe_mapped_elements_collection.keys():     
    for cols in dataframe_mapped_elements_collection[key][key]:
        idx_temp = dataframe_mapped_elements_collection[key].index[dataframe_mapped_elements_collection[key][key] == cols]
        dataframe_mapped_elements_collection[key].loc[idx_temp, 'REFColumnsCSV Link'] = cols #slug.slug(cols) Not matched on Slugilzed as first believed!


for key in dataframe_elements_collection.keys():
    df_collection_point, df_collection_point_errors = align_REFdata_with_Transform(dataframe_mapped_elements_collection[key], df_ref_repo_columns, df_ref_repo_components)
    dataframe_mapped_elements_collection[key] = df_collection_point
    dataframe_mapped_elements_collection_errors[key] = df_collection_point_errors

mapped_error_flag = True
for key in dataframe_mapped_elements_collection_errors.keys():
    for cols in dataframe_mapped_elements_collection[key][key]:
        if len(dataframe_mapped_elements_collection_errors[key]) > 0:
            mapped_error_flag = False
            printmd("\n" + "="*115, colour='Red')
            printmd('**WARNING - PLEASE ADDRESS NON-MATCHING REFERENCES!**', colour='Red')
            printmd("="*115, colour='Red')
            #for key in dataframe_mapped_elements_collection_errors.keys():
            printmd("\n" + "="*100, colour='Grey')
            printmd('UN-Mapped Component DataFrame for: ' + key + '.', colour='Red')
            printmd("="*100, colour='Grey')
            #print(dataframe_mapped_elements_collection[key]) #Print like this for Logs...  
            display(dataframe_mapped_elements_collection_errors[key])
if mapped_error_flag == True:
        printmd("\n" + "="*115, colour='Green')
        printmd('**ALL Data Entities Mapped! Safe to Proceed!**', colour='Green')
        printmd("="*115, colour='Green')    


printmd("\n" + "="*115, colour='Grey')
printmd('**Please use Caution!:**' + ' Displayed below are the current components as mapped and linked through code.', colour='Green')
printmd('*Check carefully before proceeding.*', colour='Green')
printmd("\n" + "="*115, colour='Grey')
for key in dataframe_mapped_elements_collection.keys():
    printmd("\n" + "="*100, colour='Grey')
    printmd('Mapped Component DataFrame for: ' + key + '.', colour='Blue')
    printmd("="*100, colour='Grey')
    #print(dataframe_mapped_elements_collection[key]) #Print like this for Logs...  
    display(dataframe_mapped_elements_collection[key])

<span style='color:Green'>
===================================================================================================================</span>

<span style='color:Green'>**ALL Data Entities Mapped! Safe to Proceed!**</span>

<span style='color:Green'>===================================================================================================================</span>

<span style='color:Grey'>
===================================================================================================================</span>

<span style='color:Green'>**Please use Caution!:** Displayed below are the current components as mapped and linked through code.</span>

<span style='color:Green'>*Check carefully before proceeding.*</span>

<span style='color:Grey'>
===================================================================================================================</span>

<span style='color:Grey'>
====================================================================================================</span>

<span style='color:Blue'>Mapped Component DataFrame for: HE - Country level estimates_LE.</span>

<span style='color:Grey'>====================================================================================================</span>

,HE - Country level estimates_LE,Entry Type,REFColumnsCSV Link,title,name,component_attachment,property_template,value_template,datatype,value_transformation,regex,range,Label,Description,Component Type,Codelist
0,Period,Dimension,Period,Period,period,qb:dimension,http://purl.org/linked-data/sdmx/2009/dimensio...,http://reference.data.gov.uk/id/{+period},string,NaN,^(year/[0-9]{4}|gregorian-interval/.*|month/[0...,http://reference.data.gov.uk/def/intervals/Int...,NaN,NaN,NaN,NaN
1,ONS Geography,Dimension,ONS Geography,ONS Geography,ons_geography,qb:dimension,http://purl.org/linked-data/sdmx/2009/dimensio...,http://statistics.data.gov.uk/id/statistical-g...,string,NaN,[A-Z][0-9]{8},NaN,NaN,NaN,NaN,NaN
2,Sex,Dimension,Sex,Sex,sex,qb:dimension,http://purl.org/linked-data/sdmx/2009/dimensio...,http://purl.org/linked-data/sdmx/2009/code#sex...,string,NaN,^(M|F|T|U|N)$,http://purl.org/linked-data/sdmx/2009/code#Sex,Sex,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/phe-sex
3,ONS Age Range,Dimension,ONS Age Range,ONS Age Range,ons_age_range,qb:dimension,http://gss-data.org.uk/def/dimension/ons-age-r...,http://gss-data.org.uk/def/concept/ons-age-ran...,string,slugize,NaN,http://gss-data.org.uk/def/classes/ons-age-ran...,ONS Age Range,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/ons-...
4,Value,Measure,Value,Value,value,NaN,http://gss-data.org.uk/def/measure/{measure_type},NaN,number,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Lower CI,Observation,Lower CI,Lower CI,lower_ci,qb:attribute,http://gss-data.org.uk/def/attribute/lower-ci,NaN,number,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Upper CI,Observation,Upper CI,Upper CI,upper_ci,qb:attribute,http://gss-data.org.uk/def/attribute/upper-ci,NaN,number,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Life Expectancy Estimate Type,Dimension,Life Expectancy Estimate Type,Life Expectancy Estimate Type,life_expectancy_estimate_type,qb:dimension,http://gss-data.org.uk/def/dimension/life-expe...,http://gss-data.org.uk/def/concept/life-expect...,string,slugize,NaN,http://gss-data.org.uk/def/classes/life-expect...,Life Expectancy Estimate Type,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/life...

<span style='color:Grey'>
====================================================================================================</span>

<span style='color:Blue'>Mapped Component DataFrame for: HE - Country level estimates_HLE.</span>

<span style='color:Grey'>====================================================================================================</span>

,HE - Country level estimates_HLE,Entry Type,REFColumnsCSV Link,title,name,component_attachment,property_template,value_template,datatype,value_transformation,regex,range,Label,Description,Component Type,Codelist
0,Period,Dimension,Period,Period,period,qb:dimension,http://purl.org/linked-data/sdmx/2009/dimensio...,http://reference.data.gov.uk/id/{+period},string,NaN,^(year/[0-9]{4}|gregorian-interval/.*|month/[0...,http://reference.data.gov.uk/def/intervals/Int...,NaN,NaN,NaN,NaN
1,ONS Geography,Dimension,ONS Geography,ONS Geography,ons_geography,qb:dimension,http://purl.org/linked-data/sdmx/2009/dimensio...,http://statistics.data.gov.uk/id/statistical-g...,string,NaN,[A-Z][0-9]{8},NaN,NaN,NaN,NaN,NaN
2,Sex,Dimension,Sex,Sex,sex,qb:dimension,http://purl.org/linked-data/sdmx/2009/dimensio...,http://purl.org/linked-data/sdmx/2009/code#sex...,string,NaN,^(M|F|T|U|N)$,http://purl.org/linked-data/sdmx/2009/code#Sex,Sex,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/phe-sex
3,ONS Age Range,Dimension,ONS Age Range,ONS Age Range,ons_age_range,qb:dimension,http://gss-data.org.uk/def/dimension/ons-age-r...,http://gss-data.org.uk/def/concept/ons-age-ran...,string,slugize,NaN,http://gss-data.org.uk/def/classes/ons-age-ran...,ONS Age Range,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/ons-...
4,Value,Measure,Value,Value,value,NaN,http://gss-data.org.uk/def/measure/{measure_type},NaN,number,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Lower CI,Observation,Lower CI,Lower CI,lower_ci,qb:attribute,http://gss-data.org.uk/def/attribute/lower-ci,NaN,number,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Upper CI,Observation,Upper CI,Upper CI,upper_ci,qb:attribute,http://gss-data.org.uk/def/attribute/upper-ci,NaN,number,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Life Expectancy Estimate Type,Dimension,Life Expectancy Estimate Type,Life Expectancy Estimate Type,life_expectancy_estimate_type,qb:dimension,http://gss-data.org.uk/def/dimension/life-expe...,http://gss-data.org.uk/def/concept/life-expect...,string,slugize,NaN,http://gss-data.org.uk/def/classes/life-expect...,Life Expectancy Estimate Type,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/life...

<span style='color:Grey'>
====================================================================================================</span>

<span style='color:Blue'>Mapped Component DataFrame for: HE - Region level estimates_LE.</span>

<span style='color:Grey'>====================================================================================================</span>

,HE - Region level estimates_LE,Entry Type,REFColumnsCSV Link,title,name,component_attachment,property_template,value_template,datatype,value_transformation,regex,range,Label,Description,Component Type,Codelist
0,Period,Dimension,Period,Period,period,qb:dimension,http://purl.org/linked-data/sdmx/2009/dimensio...,http://reference.data.gov.uk/id/{+period},string,NaN,^(year/[0-9]{4}|gregorian-interval/.*|month/[0...,http://reference.data.gov.uk/def/intervals/Int...,NaN,NaN,NaN,NaN
1,ONS Geography,Dimension,ONS Geography,ONS Geography,ons_geography,qb:dimension,http://purl.org/linked-data/sdmx/2009/dimensio...,http://statistics.data.gov.uk/id/statistical-g...,string,NaN,[A-Z][0-9]{8},NaN,NaN,NaN,NaN,NaN
2,Sex,Dimension,Sex,Sex,sex,qb:dimension,http://purl.org/linked-data/sdmx/2009/dimensio...,http://purl.org/linked-data/sdmx/2009/code#sex...,string,NaN,^(M|F|T|U|N)$,http://purl.org/linked-data/sdmx/2009/code#Sex,Sex,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/phe-sex
3,ONS Age Range,Dimension,ONS Age Range,ONS Age Range,ons_age_range,qb:dimension,http://gss-data.org.uk/def/dimension/ons-age-r...,http://gss-data.org.uk/def/concept/ons-age-ran...,string,slugize,NaN,http://gss-data.org.uk/def/classes/ons-age-ran...,ONS Age Range,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/ons-...
4,Value,Measure,Value,Value,value,NaN,http://gss-data.org.uk/def/measure/{measure_type},NaN,number,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Lower CI,Observation,Lower CI,Lower CI,lower_ci,qb:attribute,http://gss-data.org.uk/def/attribute/lower-ci,NaN,number,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Upper CI,Observation,Upper CI,Upper CI,upper_ci,qb:attribute,http://gss-data.org.uk/def/attribute/upper-ci,NaN,number,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Life Expectancy Estimate Type,Dimension,Life Expectancy Estimate Type,Life Expectancy Estimate Type,life_expectancy_estimate_type,qb:dimension,http://gss-data.org.uk/def/dimension/life-expe...,http://gss-data.org.uk/def/concept/life-expect...,string,slugize,NaN,http://gss-data.org.uk/def/classes/life-expect...,Life Expectancy Estimate Type,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/life...

<span style='color:Grey'>
====================================================================================================</span>

<span style='color:Blue'>Mapped Component DataFrame for: HE - Region level estimates_HLE.</span>

<span style='color:Grey'>====================================================================================================</span>

,HE - Region level estimates_HLE,Entry Type,REFColumnsCSV Link,title,name,component_attachment,property_template,value_template,datatype,value_transformation,regex,range,Label,Description,Component Type,Codelist
0,Period,Dimension,Period,Period,period,qb:dimension,http://purl.org/linked-data/sdmx/2009/dimensio...,http://reference.data.gov.uk/id/{+period},string,NaN,^(year/[0-9]{4}|gregorian-interval/.*|month/[0...,http://reference.data.gov.uk/def/intervals/Int...,NaN,NaN,NaN,NaN
1,ONS Geography,Dimension,ONS Geography,ONS Geography,ons_geography,qb:dimension,http://purl.org/linked-data/sdmx/2009/dimensio...,http://statistics.data.gov.uk/id/statistical-g...,string,NaN,[A-Z][0-9]{8},NaN,NaN,NaN,NaN,NaN
2,Sex,Dimension,Sex,Sex,sex,qb:dimension,http://purl.org/linked-data/sdmx/2009/dimensio...,http://purl.org/linked-data/sdmx/2009/code#sex...,string,NaN,^(M|F|T|U|N)$,http://purl.org/linked-data/sdmx/2009/code#Sex,Sex,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/phe-sex
3,ONS Age Range,Dimension,ONS Age Range,ONS Age Range,ons_age_range,qb:dimension,http://gss-data.org.uk/def/dimension/ons-age-r...,http://gss-data.org.uk/def/concept/ons-age-ran...,string,slugize,NaN,http://gss-data.org.uk/def/classes/ons-age-ran...,ONS Age Range,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/ons-...
4,Value,Measure,Value,Value,value,NaN,http://gss-data.org.uk/def/measure/{measure_type},NaN,number,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Lower CI,Observation,Lower CI,Lower CI,lower_ci,qb:attribute,http://gss-data.org.uk/def/attribute/lower-ci,NaN,number,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Upper CI,Observation,Upper CI,Upper CI,upper_ci,qb:attribute,http://gss-data.org.uk/def/attribute/upper-ci,NaN,number,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Life Expectancy Estimate Type,Dimension,Life Expectancy Estimate Type,Life Expectancy Estimate Type,life_expectancy_estimate_type,qb:dimension,http://gss-data.org.uk/def/dimension/life-expe...,http://gss-data.org.uk/def/concept/life-expect...,string,slugize,NaN,http://gss-data.org.uk/def/classes/life-expect...,Life Expectancy Estimate Type,NaN,Dimension,http://gss-data.org.uk/def/concept-scheme/life...

### Stage 7: Creating the Meta-Data files (Reference Data):

**This next section is currently very hacked together using file parsing etc. It requires 'proper' integration with the scraper component for the meta data!!!**

In [745]:
# We'll just have a string builder (string append) in the absence of a 'proper' component for the moment:

json_metadata_string = ('{ \n"@context": "http://www.w3.org/ns/csvw", ') # {"@language": "en"}') # \n],')

# Yep, it's more hacked up than a 90s teen-slasher-flick. Apologies my friends for this horrid code:

# WTF is this Martyn? I honestly thought better of myself:
str_temp_metadata = str(distribution._properties_metadata)
str_temp_metadata = mytext.replace("\'", "\"")
str_temp_metadata_pt2 = mytext.split('"')

str_parsed_meta = []
for i in range(len(str_temp_metadata_pt2)):
    if i % 2 != 0:
        str_parsed_meta.append(str_temp_metadata_pt2[i])

str_parsed_meta_links = {}
for i in range(len(str_parsed_meta)):
    if (str_parsed_meta[i][:7] != 'http://') and (str_parsed_meta[i+1][:7] == 'http://'):
        str_parsed_meta_links[str_parsed_meta[i]] = str_parsed_meta[i+1]

# Bringing shame on one self:
hacked_string_baby = ''
for key in str_parsed_meta_links.keys():
    #printmd('**' + key + ':**', colour='Red')
    #printmd('*---> '+ str_parsed_meta_links[key] + '.*', colour='Blue')
    hacked_string_baby = hacked_string_baby + ('\n"' + str(key).rstrip() + '": ' + '"' + str(str_parsed_meta_links[key]).rstrip() + '", ').rstrip()

hacked_string_baby = hacked_string_baby + '\n"url: "' + 'INSERT KEY FROM LOOP IDIOT' + '",'
hacked_string_baby = hacked_string_baby + '\ntableSchema": { \n"columns": ['

json_metadata_string = json_metadata_string + hacked_string_baby
print(json_metadata_string)

{
"@context": "http://www.w3.org/ns/csvw",
"label": "http://www.w3.org/2000/01/rdf-schema#label",
"comment": "http://www.w3.org/2000/01/rdf-schema#comment",
"title": "http://purl.org/dc/terms/title",
"description": "http://purl.org/dc/terms/description",
"issued": "http://purl.org/dc/terms/issued",
"modified": "http://purl.org/dc/terms/modified",
"license": "http://purl.org/dc/terms/license",
"rights": "http://purl.org/dc/terms/rights",
"accessURL": "http://www.w3.org/ns/dcat#accessURL",
"downloadURL": "http://www.w3.org/ns/dcat#downloadURL",
"mediaType": "http://www.w3.org/ns/dcat#mediaType",
"byteSize": "http://www.w3.org/ns/dcat#byteSize",
"checksum": "http://spdx.org/rdf/terms#checksum",
"language": "http://purl.org/dc/terms/language",
"url: "INSERT KEY FROM LOOP IDIOT",
tableSchema": {
"columns": [

In [746]:
# You should get fired for this fugly code:
scary_movie_string = ''


for idx, val in enumerate(dataframe_mapped_elements_collection['HE - Country level estimates_LE'].itertuples()):
    scary_movie_string = scary_movie_string + ('\n{ \n"title": ' \
                        + str(dataframe_mapped_elements_collection['HE - Country level estimates_LE'].title[idx]).rstrip() \
                        + '",')
    scary_movie_string = scary_movie_string + ('\n"name": ' \
                        + str(dataframe_mapped_elements_collection['HE - Country level estimates_LE'].name[idx]).rstrip() \
                        + '",')
    if pd.notna(dataframe_mapped_elements_collection['HE - Country level estimates_LE'].regex[idx]):
        scary_movie_string = scary_movie_string + ('\n"datatype": {"format": "' \
                            + str(dataframe_mapped_elements_collection['HE - Country level estimates_LE'].regex[idx]).rstrip() \
                            + '"},')
    scary_movie_string = scary_movie_string + ('\n"required": true \n},')
              
json_metadata_string = json_metadata_string + scary_movie_string[:-1]
json_metadata_string = json_metadata_string + ('\n]')

print(json_metadata_string)

{
"@context": "http://www.w3.org/ns/csvw",
"label": "http://www.w3.org/2000/01/rdf-schema#label",
"comment": "http://www.w3.org/2000/01/rdf-schema#comment",
"title": "http://purl.org/dc/terms/title",
"description": "http://purl.org/dc/terms/description",
"issued": "http://purl.org/dc/terms/issued",
"modified": "http://purl.org/dc/terms/modified",
"license": "http://purl.org/dc/terms/license",
"rights": "http://purl.org/dc/terms/rights",
"accessURL": "http://www.w3.org/ns/dcat#accessURL",
"downloadURL": "http://www.w3.org/ns/dcat#downloadURL",
"mediaType": "http://www.w3.org/ns/dcat#mediaType",
"byteSize": "http://www.w3.org/ns/dcat#byteSize",
"checksum": "http://spdx.org/rdf/terms#checksum",
"language": "http://purl.org/dc/terms/language",
"url: "INSERT KEY FROM LOOP IDIOT",
tableSchema": {
"columns": [
{
"title": Period",
"name": period",
"datatype": {"format": "^(year/[0-9]{4}|gregorian-interval/.*|month/[0-9]{4}-[0-9]{2}|day/[0-9]{4}-[0-9]{2}-[0-9]{2}|quarter/[0-9]{4}-Q[1-4]|government-year/[0-9]{4}-[0-9]{4})$"},
"required": true
},
{
"title": ONS Geography",
"name": ons_geography",
"datatype": {"format": "[A-Z][0-9]{8}"},
"required": true
},
{
"title": Sex",
"name": sex",
"datatype": {"format": "^(M|F|T|U|N)$"},
"required": true
},
{
"title": ONS Age Range",
"name": ons_age_range",
"required": true
},
{
"title": Value",
"name": value",
"required": true
},
{
"title": Lower CI",
"name": lower_ci",
"required": true
},
{
"title": Upper CI",
"name": upper_ci",
"required": true
},
{
"title": Life Expectancy Estimate Type",
"name": life_expectancy_estimate_type",
"required": true
}
]

In [748]:
# Drop JSON to disc...
write_to_file_JSONmetadata = open(slug.slug("HE - Country level estimates_LE--metadata") + '.json', "w")
write_to_file_JSONmetadata.write(json_metadata_string)
write_to_file_JSONmetadata.close()

#dataframe_collection[key] # Already output to csv...

In [763]:
test = open('/Users/martyn/Python Notebook Experiments/he-country-level-estimates_le.csv', "r")
print(test)
test.read()

<_io.TextIOWrapper name='/Users/martyn/Python Notebook Experiments/he-country-level-estimates_le.csv' mode='r' encoding='UTF-8'>

'Period,Code,Sex,age group,Life Expectancy (LE)_,LE Lower CI_,LE Upper CI_,TransformationType\ngregorian-interval/2009-03-31T00:00:00/P3Y,E92000001,M,lessthan1,78.78073,78.75026,78.8112,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,E92000001,M,01-04,78.17075,78.14207,78.19942,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,E92000001,M,05-09,74.22782,74.19942,74.25623,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,E92000001,M,10-14,69.26178,69.23354,69.29002,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,E92000001,M,15-19,64.29632,64.26823,64.3244,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,E92000001,M,20-24,59.40272,59.37503,59.43041,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,E92000001,M,25-29,54.5599,54.53272,54.58708,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,E92000001,M,30-34,49.72706,49.70037,49.75375,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,E92000001,M,35-39,44.92366,44.89751,44.9498,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,E92000001,M,40-44,40.18422,40.15867,40.20976,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,E92000001,M,45-49,35.52009,35.49515,35.54502,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,E92000001,M,50-54,30.93534,30.91104,30.95964,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,E92000001,M,55-59,26.49264,26.46917,26.5161,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,E92000001,M,60-64,22.26448,22.24206,22.2869,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,E92000001,M,65-69,18.24866,18.22706,18.27027,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,E92000001,M,70-74,14.51893,14.49833,14.53952,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,E92000001,M,75-79,11.17454,11.15483,11.19425,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,E92000001,M,80-84,8.26429,8.24472,8.28386,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,E92000001,M,85-89,5.95519,5.93347,5.97691,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,E92000001,M,90plus,4.37597,4.34376,4.40818,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,E92000001,F,lessthan1,82.70885,82.68009,82.73761,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,E92000001,F,01-04,82.04126,82.01431,82.06821,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,E92000001,F,05-09,78.0962,78.06956,78.12283,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,E92000001,F,10-14,73.12643,73.09997,73.15288,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,E92000001,F,15-19,68.15747,68.13118,68.18376,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,E92000001,F,20-24,63.21557,63.18954,63.2416,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,E92000001,F,25-29,58.2824,58.25663,58.30817,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,E92000001,F,30-34,53.36544,53.33995,53.39093,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,E92000001,F,35-39,48.47553,48.4504,48.50066,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,E92000001,F,40-44,43.6307,43.60599,43.65541,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,E92000001,F,45-49,38.85161,38.82737,38.87585,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,E92000001,F,50-54,34.14809,34.1244,34.17177,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,E92000001,F,55-59,29.56611,29.54321,29.58901,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,E92000001,F,60-64,25.12959,25.10768,25.15149,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,E92000001,F,65-69,20.85039,20.82936,20.87143,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,E92000001,F,70-74,16.77977,16.75988,16.79965,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,E92000001,F,75-79,13.02017,13.00153,13.0388,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,E92000001,F,80-84,9.68382,9.66613,9.70151,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,E92000001,F,85-89,6.9426,6.92457,6.96063,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,E92000001,F,90plus,4.90662,4.88352,4.92972,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,K02000001,M,lessthan1,78.46739,78.43941,78.49537,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,K02000001,M,01-04,77.85268,77.82632,77.87904,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,K02000001,M,05-09,73.90889,73.88277,73.935,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,K02000001,M,10-14,68.94368,68.91772,68.96963,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,K02000001,M,15-19,63.97811,63.95229,64.00393,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,K02000001,M,20-24,59.09506,59.06963,59.12049,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,K02000001,M,25-29,54.26479,54.23987,54.28972,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,K02000001,M,30-34,49.44741,49.42298,49.47185,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,K02000001,M,35-39,44.66081,44.63692,44.6847,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,K02000001,M,40-44,39.93524,39.91194,39.95854,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,K02000001,M,45-49,35.28691,35.26419,35.30962,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,K02000001,M,50-54,30.71584,30.69373,30.73796,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,K02000001,M,55-59,26.28997,26.26863,26.31131,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,K02000001,M,60-64,22.0801,22.05972,22.10048,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,K02000001,M,65-69,18.0854,18.06576,18.10503,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,K02000001,M,70-74,14.38383,14.36512,14.40255,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,K02000001,M,75-79,11.07333,11.05542,11.09125,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,K02000001,M,80-84,8.1935,8.17569,8.21131,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,K02000001,M,85-89,5.91075,5.89095,5.93056,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,K02000001,M,90plus,4.33776,4.30827,4.36724,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,K02000001,F,lessthan1,82.45154,82.42524,82.47785,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,K02000001,F,01-04,81.77927,81.75462,81.80392,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,K02000001,F,05-09,77.83382,77.80946,77.85819,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,K02000001,F,10-14,72.86346,72.83926,72.88766,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,K02000001,F,15-19,67.89514,67.8711,67.91919,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,K02000001,F,20-24,62.95695,62.93316,62.98075,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,K02000001,F,25-29,58.02712,58.00357,58.05067,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,K02000001,F,30-34,53.11424,53.09097,53.13752,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,K02000001,F,35-39,48.2298,48.20687,48.25272,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,K02000001,F,40-44,43.39174,43.36922,43.41427,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,K02000001,F,45-49,38.62001,38.59793,38.64209,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,K02000001,F,50-54,33.92675,33.90519,33.9483,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,K02000001,F,55-59,29.35995,29.33913,29.38078,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,K02000001,F,60-64,24.93547,24.91556,24.95538,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,K02000001,F,65-69,20.67663,20.65753,20.69573,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,K02000001,F,70-74,16.63221,16.61418,16.65025,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,K02000001,F,75-79,12.90614,12.88925,12.92303,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,K02000001,F,80-84,9.60204,9.586,9.61808,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,K02000001,F,85-89,6.8886,6.87224,6.90497,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,K02000001,F,90plus,4.86012,4.83911,4.88114,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,N92000002,M,lessthan1,77.43915,77.26488,77.61343,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,N92000002,M,01-04,76.85972,76.69404,77.0254,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,N92000002,M,05-09,72.92902,72.76479,73.09326,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,N92000002,M,10-14,67.96391,67.80043,68.12738,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,N92000002,M,15-19,63.00277,62.84,63.16553,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,N92000002,M,20-24,58.21133,58.05191,58.37075,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,N92000002,M,25-29,53.50491,53.34991,53.65992,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,N92000002,M,30-34,48.77962,48.62855,48.93069,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,N92000002,M,35-39,44.04922,43.90192,44.19653,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,N92000002,M,40-44,39.33184,39.18779,39.47588,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,N92000002,M,45-49,34.70426,34.56356,34.84497,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,N92000002,M,50-54,30.17479,30.03754,30.31204,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,N92000002,M,55-59,25.79068,25.65767,25.9237,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,N92000002,M,60-64,21.64709,21.51949,21.7747,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,N92000002,M,65-69,17.68704,17.56428,17.8098,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,N92000002,M,70-74,13.98317,13.86468,14.10167,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,N92000002,M,75-79,10.73353,10.61867,10.84838,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,N92000002,M,80-84,7.99337,7.87757,8.10918,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,N92000002,M,85-89,5.7808,5.65053,5.91108,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,N92000002,M,90plus,4.19637,4.00043,4.39231,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,N92000002,F,lessthan1,81.85212,81.69087,82.01338,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,N92000002,F,01-04,81.24183,81.09043,81.39322,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,N92000002,F,05-09,77.29696,77.14701,77.44691,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,N92000002,F,10-14,72.33381,72.18488,72.48275,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,N92000002,F,15-19,67.36562,67.21743,67.5138,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,N92000002,F,20-24,62.46188,62.31568,62.60808,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,N92000002,F,25-29,57.55484,57.41038,57.6993,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,N92000002,F,30-34,52.64843,52.50553,52.79133,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,N92000002,F,35-39,47.74594,47.60457,47.88731,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,N92000002,F,40-44,42.91327,42.77413,43.05242,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,N92000002,F,45-49,38.16769,38.03123,38.30415,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,N92000002,F,50-54,33.49979,33.36637,33.63321,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,N92000002,F,55-59,28.9695,28.84031,29.09869,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,N92000002,F,60-64,24.5915,24.46797,24.71503,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,N92000002,F,65-69,20.36155,20.2435,20.4796,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,N92000002,F,70-74,16.3357,16.22349,16.4479,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,N92000002,F,75-79,12.6978,12.59251,12.80309,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,N92000002,F,80-84,9.41571,9.31505,9.51637,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,N92000002,F,85-89,6.74318,6.63918,6.84718,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,N92000002,F,90plus,4.6994,4.56496,4.83384,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,S92000003,M,lessthan1,76.22505,76.12717,76.32293,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,S92000003,M,01-04,75.55803,75.46532,75.65075,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,S92000003,M,05-09,71.61044,71.51857,71.70232,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,S92000003,M,10-14,66.65132,66.56011,66.74253,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,S92000003,M,15-19,61.67812,61.58727,61.76897,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,S92000003,M,20-24,56.84196,56.75292,56.93099,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,S92000003,M,25-29,52.07415,51.98734,52.16096,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,S92000003,M,30-34,47.37112,47.28708,47.45517,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,S92000003,M,35-39,42.71404,42.63322,42.79487,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,S92000003,M,40-44,38.10826,38.03048,38.18605,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,S92000003,M,45-49,33.5851,33.51,33.6602,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,S92000003,M,50-54,29.10363,29.03086,29.17641,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,S92000003,M,55-59,24.79574,24.72576,24.86573,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,S92000003,M,60-64,20.70908,20.64239,20.77577,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,S92000003,M,65-69,16.87769,16.81358,16.94181,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,S92000003,M,70-74,13.40328,13.34248,13.46408,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,S92000003,M,75-79,10.3306,10.27226,10.38894,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,S92000003,M,80-84,7.64839,7.58976,7.70703,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,S92000003,M,85-89,5.58291,5.51668,5.64915,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,S92000003,M,90plus,4.00979,3.90856,4.11102,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,S92000003,F,lessthan1,80.60126,80.51209,80.69043,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,S92000003,F,01-04,79.86792,79.78388,79.95195,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,S92000003,F,05-09,75.92033,75.83735,76.00331,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,S92000003,F,10-14,70.94538,70.86291,71.02785,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,S92000003,F,15-19,65.98032,65.89846,66.06218,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,S92000003,F,20-24,61.0727,60.99214,61.15326,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,S92000003,F,25-29,56.16826,56.08883,56.2477,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,S92000003,F,30-34,51.28852,51.21041,51.36662,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,S92000003,F,35-39,46.45815,46.38192,46.53438,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,S92000003,F,40-44,41.67843,41.60414,41.75272,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,S92000003,F,45-49,36.96078,36.88833,37.03323,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,S92000003,F,50-54,32.33316,32.26271,32.4036,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,S92000003,F,55-59,27.86397,27.79623,27.93171,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,S92000003,F,60-64,23.52159,23.45704,23.58613,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,S92000003,F,65-69,19.40627,19.34484,19.46769,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,S92000003,F,70-74,15.56049,15.50314,15.61784,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,S92000003,F,75-79,12.04343,11.98994,12.09693,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,S92000003,F,80-84,8.95968,8.90873,9.01064,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,S92000003,F,85-89,6.43009,6.37785,6.48233,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,S92000003,F,90plus,4.44646,4.37821,4.51471,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,W92000004,M,lessthan1,77.84887,77.72302,77.97473,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,W92000004,M,01-04,77.21379,77.09552,77.33207,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,W92000004,M,05-09,73.25156,73.13409,73.36903,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,W92000004,M,10-14,68.29096,68.17434,68.40759,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,W92000004,M,15-19,63.33377,63.2179,63.44963,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,W92000004,M,20-24,58.48738,58.3738,58.60097,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,W92000004,M,25-29,53.68116,53.5701,53.79221,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,W92000004,M,30-34,48.88524,48.77702,48.99346,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,W92000004,M,35-39,44.15275,44.0483,44.2572,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,W92000004,M,40-44,39.46374,39.36288,39.56459,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,W92000004,M,45-49,34.8518,34.75433,34.94927,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,W92000004,M,50-54,30.32033,30.22624,30.41442,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,W92000004,M,55-59,25.91802,25.82799,26.00806,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,W92000004,M,60-64,21.72728,21.64186,21.81271,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,W92000004,M,65-69,17.75147,17.66943,17.83351,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,W92000004,M,70-74,14.08232,14.00415,14.16048,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,W92000004,M,75-79,10.82888,10.7542,10.90357,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,W92000004,M,80-84,7.99396,7.92001,8.06791,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,W92000004,M,85-89,5.73002,5.64813,5.81191,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,W92000004,M,90plus,4.22883,4.10444,4.35322,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,W92000004,F,lessthan1,82.00474,81.88787,82.12161,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,W92000004,F,01-04,81.30868,81.19953,81.41783,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,W92000004,F,05-09,77.35986,77.25204,77.46768,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,W92000004,F,10-14,72.38193,72.2747,72.48916,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,W92000004,F,15-19,67.41921,67.31282,67.5256,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,W92000004,F,20-24,62.46887,62.36339,62.57435,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,W92000004,F,25-29,57.53655,57.43217,57.64093,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,W92000004,F,30-34,52.63526,52.53252,52.738,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,W92000004,F,35-39,47.76933,47.66879,47.86986,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,W92000004,F,40-44,42.94446,42.84621,43.04271,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,W92000004,F,45-49,38.18338,38.08748,38.27928,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,W92000004,F,50-54,33.52298,33.4299,33.61607,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,W92000004,F,55-59,28.99162,28.90228,29.08097,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,W92000004,F,60-64,24.57815,24.4929,24.6634,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,W92000004,F,65-69,20.36901,20.28746,20.45057,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,W92000004,F,70-74,16.35962,16.28257,16.43668,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,W92000004,F,75-79,12.70259,12.63063,12.77454,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,W92000004,F,80-84,9.45572,9.38759,9.52384,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,W92000004,F,85-89,6.81309,6.7439,6.88229,LE\ngregorian-interval/2009-03-31T00:00:00/P3Y,W92000004,F,90plus,4.81014,4.72108,4.89919,LE\ngregorian-interval/2010-03-31T00:00:00/P3Y,E92000001,M,lessthan1,79.08977,79.05971,79.11984,LE\ngregorian-interval/2010-03-31T00:00:00/P3Y,E92000001,M,01-04,78.46643,78.43809,78.49476,LE\ngregorian-interval/2010-03-31T00:00:00/P3Y,E92000001,M,05-09,74.52453,74.49647,74.55259,LE\ngregorian-interval/2010-03-31T00:00:00/P3Y,E92000001,M,10-14,69.55805,69.53016,69.58595,LE\ngregorian-interval/2010-03-31T00:00:00/P3Y,E92000001,M,15-19,64.59178,64.56404,64.61952,LE\ngregorian-interval/2010-03-31T00:00:00/P3Y,E92000001,M,20-24,59.68781,59.66044,59.71519,LE\ngregorian-interval/2010-03-31T00:00:00/P3Y,E92000001,M,25-29,54.83217,54.80526,54.85907,LE\ngregorian-interval/2010-03-31T00:00:00/P3Y,E92000001,M,30-34,49.98677,49.96032,50.01322,LE\ngregorian-interval/2010-03-31T00:00:00/P3Y,E92000001,M,35-39,45.17241,45.14647,45.19835,LE\ngregorian-interval/2010-03-31T00:00:00/P3Y,E92000001,M,40-44,40.41584,40.3905,40.44119,LE\ngregorian-interval/2010-03-31T00:00:00/P3Y,E92000001,M,45-49,35.74093,35.7162,35.76567,LE\ngregorian-interval/2010-03-31T00:00:00/P3Y,E92000001,M,50-54,31.1489,31.1248,31.173,LE\ngregorian-interval/2010-03-31T00:00:00/P3Y,E92000001,M,55-59,26.69185,26.66855,26.71515,LE\ngregorian-interval/2010-03-31T00:00:00/P3Y,E92000001,M,60-64,22.43873,22.41647,22.46099,LE\ngregorian-interval/2010-03-31T00:00:00/P3Y,E92000001,M,65-69,18.41595,18.39457,18.43734,LE\ngregorian-interval/2010-03-31T00:00:00/P3Y,E92000001,M,70-74,14.6535,14.63302,14.67398,LE\ngregorian-interval/2010-03-31T00:00:00/P3Y,E92000001,M,75-79,11.29306,11.27355,11.31256,LE\ngregorian-interval/2010-03-31T00:00:00/P3Y,E92000001

In [768]:
myThing = CSVWConverter.to_rdf('File:///Users/martyn/Python Notebook Experiments/he-country-level-estimates_le.csv', format='ttl')

InvalidSchema: No connection adapters were found for 'File:///Users/martyn/Python Notebook Experiments/he-country-level-estimates_le.csv'

In [754]:
myThing = CSVWConverter.to_rdf('http://w3c.github.io/csvw/tests/tree-ops.csv', format='ttl')
#CSVWConverter.to_rdf('he-country-level-estimates_le.csv', metadata_url='he-country-level-estimates_le-metadata.json', format='ttl')

In [755]:
myThing

'@prefix : <http://w3c.github.io/csvw/tests/tree-ops.csv#> .\n@prefix as: <https://www.w3.org/ns/activitystreams#> .\n@prefix cc: <http://creativecommons.org/ns#> .\n@prefix csvw: <http://www.w3.org/ns/csvw#> .\n@prefix ctag: <http://commontag.org/ns#> .\n@prefix dc: <http://purl.org/dc/terms/> .\n@prefix dc11: <http://purl.org/dc/elements/1.1/> .\n@prefix dcat: <http://www.w3.org/ns/dcat#> .\n@prefix dcterms: <http://purl.org/dc/terms/> .\n@prefix dqv: <http://www.w3.org/ns/dqv#> .\n@prefix duv: <https://www.w3.org/TR/vocab-duv#> .\n@prefix foaf: <http://xmlns.com/foaf/0.1/> .\n@prefix gr: <http://purl.org/goodrelations/v1#> .\n@prefix grddl: <http://www.w3.org/2003/g/data-view#> .\n@prefix ical: <http://www.w3.org/2002/12/cal/icaltzd#> .\n@prefix ldp: <http://www.w3.org/ns/ldp#> .\n@prefix ma: <http://www.w3.org/ns/ma-ont#> .\n@prefix ns1: <http://w3c.github.io/csvw/tests/tree-ops.csv#Inventory%20> .\n@prefix ns2: <http://w3c.github.io/csvw/tests/tree-ops.csv#Trim%20> .\n@prefix ns3: <http://w3c.github.io/csvw/tests/tree-ops.csv#On%20> .\n@prefix oa: <http://www.w3.org/ns/oa#> .\n@prefix og: <http://ogp.me/ns#> .\n@prefix org: <http://www.w3.org/ns/org#> .\n@prefix owl: <http://www.w3.org/2002/07/owl#> .\n@prefix prov: <http://www.w3.org/ns/prov#> .\n@prefix qb: <http://purl.org/linked-data/cube#> .\n@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .\n@prefix rdfa: <http://www.w3.org/ns/rdfa#> .\n@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> .\n@prefix rev: <http://purl.org/stuff/rev#> .\n@prefix rif: <http://www.w3.org/2007/rif#> .\n@prefix rr: <http://www.w3.org/ns/r2rml#> .\n@prefix schema: <http://schema.org/> .\n@prefix sd: <http://www.w3.org/ns/sparql-service-description#> .\n@prefix sioc: <http://rdfs.org/sioc/ns#> .\n@prefix skos: <http://www.w3.org/2004/02/skos/core#> .\n@prefix skosxl: <http://www.w3.org/2008/05/skos-xl#> .\n@prefix sosa: <http://www.w3.org/ns/sosa/> .\n@prefix ssn: <http://www.w3.org/ns/ssn/> .\n@prefix time: <http://www.w3.org/2006/time#> .\n@prefix v: <http://rdf.data-vocabulary.org/#> .\n@prefix vcard: <http://www.w3.org/2006/vcard/ns#> .\n@prefix void: <http://rdfs.org/ns/void#> .\n@prefix wdr: <http://www.w3.org/2007/05/powder#> .\n@prefix wdrs: <http://www.w3.org/2007/05/powder-s#> .\n@prefix xhv: <http://www.w3.org/1999/xhtml/vocab#> .\n@prefix xml: <http://www.w3.org/XML/1998/namespace> .\n@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .\n\n[] a csvw:TableGroup ;\n    csvw:table [ a csvw:Table ;\n            csvw:row [ a csvw:Row ;\n                    csvw:describes [ :GID "1" ;\n                            ns1:Date "10/18/2010" ;\n                            ns3:Street "ADDISON AV" ;\n                            :Species "Celtis australis" ;\n                            ns2:Cycle "Large Tree Routine Prune" ] ;\n                    csvw:rownum 1 ;\n                    csvw:url <http://w3c.github.io/csvw/tests/tree-ops.csv#row=2> ],\n                [ a csvw:Row ;\n                    csvw:describes [ :GID "2" ;\n                            ns1:Date "6/2/2010" ;\n                            ns3:Street "EMERSON ST" ;\n                            :Species "Liquidambar styraciflua" ;\n                            ns2:Cycle "Large Tree Routine Prune" ] ;\n                    csvw:rownum 2 ;\n                    csvw:url <http://w3c.github.io/csvw/tests/tree-ops.csv#row=3> ] ;\n            csvw:url <http://w3c.github.io/csvw/tests/tree-ops.csv> ] .\n\n'

In [661]:
str_temp_metadata = str(distribution._properties_metadata)
str_temp_metadata = mytext.replace("\'", "\"")
str_temp_metadata_pt2 = mytext.split('"')

str_parsed_meta = []
for i in range(len(str_temp_metadata_pt2)):
    if i % 2 != 0:
        str_parsed_meta.append(str_temp_metadata_pt2[i])

str_parsed_meta_links = {}
for i in range(len(str_parsed_meta)):
    if (str_parsed_meta[i][:7] != 'http://') and (str_parsed_meta[i+1][:7] == 'http://'):
        str_parsed_meta_links[str_parsed_meta[i]] = str_parsed_meta[i+1]
 
hacked_string_baby = ''
for key in str_parsed_meta_links.keys():
    printmd('**' + key + ':**', colour='Red')
    printmd('*---> '+ str_parsed_meta_links[key] + '.*', colour='Blue')
    hacked_string_baby = hacked_string_baby + ('"' + str(key) + '": ' + '"' + str(str_parsed_meta_links[key]) + '",')

hacked_string_baby = hacked_string_baby + '"url: "' + 'INSERT KEY FROM LOOP IDIOT' + '",'
print(hacked_string_baby)

<span style='color:Red'>**label:**</span>

<span style='color:Blue'>*---> http://www.w3.org/2000/01/rdf-schema#label.*</span>

<span style='color:Red'>**comment:**</span>

<span style='color:Blue'>*---> http://www.w3.org/2000/01/rdf-schema#comment.*</span>

<span style='color:Red'>**title:**</span>

<span style='color:Blue'>*---> http://purl.org/dc/terms/title.*</span>

<span style='color:Red'>**description:**</span>

<span style='color:Blue'>*---> http://purl.org/dc/terms/description.*</span>

<span style='color:Red'>**issued:**</span>

<span style='color:Blue'>*---> http://purl.org/dc/terms/issued.*</span>

<span style='color:Red'>**modified:**</span>

<span style='color:Blue'>*---> http://purl.org/dc/terms/modified.*</span>

<span style='color:Red'>**license:**</span>

<span style='color:Blue'>*---> http://purl.org/dc/terms/license.*</span>

<span style='color:Red'>**rights:**</span>

<span style='color:Blue'>*---> http://purl.org/dc/terms/rights.*</span>

<span style='color:Red'>**accessURL:**</span>

<span style='color:Blue'>*---> http://www.w3.org/ns/dcat#accessURL.*</span>

<span style='color:Red'>**downloadURL:**</span>

<span style='color:Blue'>*---> http://www.w3.org/ns/dcat#downloadURL.*</span>

<span style='color:Red'>**mediaType:**</span>

<span style='color:Blue'>*---> http://www.w3.org/ns/dcat#mediaType.*</span>

<span style='color:Red'>**byteSize:**</span>

<span style='color:Blue'>*---> http://www.w3.org/ns/dcat#byteSize.*</span>

<span style='color:Red'>**checksum:**</span>

<span style='color:Blue'>*---> http://spdx.org/rdf/terms#checksum.*</span>

<span style='color:Red'>**language:**</span>

<span style='color:Blue'>*---> http://purl.org/dc/terms/language.*</span>

"label": "http://www.w3.org/2000/01/rdf-schema#label","comment": "http://www.w3.org/2000/01/rdf-schema#comment","title": "http://purl.org/dc/terms/title","description": "http://purl.org/dc/terms/description","issued": "http://purl.org/dc/terms/issued","modified": "http://purl.org/dc/terms/modified","license": "http://purl.org/dc/terms/license","rights": "http://purl.org/dc/terms/rights","accessURL": "http://www.w3.org/ns/dcat#accessURL","downloadURL": "http://www.w3.org/ns/dcat#downloadURL","mediaType": "http://www.w3.org/ns/dcat#mediaType","byteSize": "http://www.w3.org/ns/dcat#byteSize","checksum": "http://spdx.org/rdf/terms#checksum","language": "http://purl.org/dc/terms/language","url: "INSERT KEY FROM LOOP IDIOT",

In [622]:
https://www.w3.org/TR/tabular-metadata/ -->
    
{
  "@context": "http://www.w3.org/ns/csvw",
  "tables": [{
    "url": "http://example.org/countries.csv",
    "tableSchema": {
      "columns": [{
        "name": "countryCode",
        "datatype": "string",
        "propertyUrl": "http://www.geonames.org/ontology{#_name}"
      }, {
        "name": "latitude",
        "datatype": "number"
      }, {
        "name": "longitude",
        "datatype": "number"
      }, {
        "name": "name",
        "datatype": "string"
      }],
      "aboutUrl": "http://example.org/countries.csv{#countryCode}",
      "propertyUrl": "http://schema.org/{_name}",
      "primaryKey": "countryCode"
    }
  }, {
    "url": "http://example.org/country_slice.csv",
    "tableSchema": {
      "columns": [{
        "name": "countryRef",
        "valueUrl": "http://example.org/countries.csv{#countryRef}"
      }, {
        "name": "year",
        "datatype": "gYear"
      }, {
        "name": "population",
        "datatype": "integer"
      }],
      "foreignKeys": [{
        "columnReference": "countryRef",
        "reference": {
          "resource": "http://example.org/countries.csv",
          "columnReference": "countryCode"
        }
      }]
    }
  }]
}

SyntaxError: invalid syntax (<ipython-input-622-25e51c25b33f>, line 1)

In [454]:
type(distribution)

gssutils.metadata.Distribution

In [447]:
display(distribution)

In [452]:
print(distribution.title + ' --- ' + distribution.description + ' --- ' + str(distribution.issued))

Health state life expectancy, all ages, UK --- Pivot tables for health state life expectancy by sex and area type, divided by two-year intervals starting from 2009 to 2011. --- 2016-11-29

In [453]:
print(distribution.downloadURL + ' --- ' + distribution.mediaType)

https://www.ons.gov.uk/file?uri=/peoplepopulationandcommunity/healthandsocialcare/healthandlifeexpectancies/datasets/healthstatelifeexpectancyallagesuk/current/heestimates.xlsx --- application/vnd.ms-excel

In [493]:
#print(distribution.DCAT.Catalog)
display(scraper.catalog._properties_metadata)

{'label': (rdflib.term.URIRef('http://www.w3.org/2000/01/rdf-schema#label'),
  <Status.mandatory: 1>,
  <function gssutils.metadata.Metadata.<lambda>(s)>),
 'comment': (rdflib.term.URIRef('http://www.w3.org/2000/01/rdf-schema#comment'),
  <Status.mandatory: 1>,
  <function gssutils.metadata.Metadata.<lambda>(s)>),
 'title': (rdflib.term.URIRef('http://purl.org/dc/terms/title'),
  <Status.mandatory: 1>,
  <function gssutils.metadata.Catalog.<lambda>(s)>),
 'description': (rdflib.term.URIRef('http://purl.org/dc/terms/description'),
  <Status.mandatory: 1>,
  <function gssutils.metadata.Catalog.<lambda>(s)>),
 'issued': (rdflib.term.URIRef('http://purl.org/dc/terms/issued'),
  <Status.mandatory: 1>,
  <function gssutils.metadata.Catalog.<lambda>(d)>),
 'modified': (rdflib.term.URIRef('http://purl.org/dc/terms/modified'),
  <Status.recommended: 2>,
  <function gssutils.metadata.Catalog.<lambda>(d)>),
 'language': (rdflib.term.URIRef('http://purl.org/dc/terms/language'),
  <Status.mandatory: 1>,
  <function gssutils.metadata.Catalog.<lambda>(s)>),
 'homepage': (rdflib.term.URIRef('http://xmlns.com/foaf/0.1/homepage'),
  <Status.mandatory: 1>,
  <function gssutils.metadata.Catalog.<lambda>(s)>),
 'publisher': (rdflib.term.URIRef('http://purl.org/dc/terms/publisher'),
  <Status.mandatory: 1>,
  <function gssutils.metadata.Catalog.<lambda>(s)>),
 'spatial': (rdflib.term.URIRef('http://purl.org/dc/terms/spatial'),
  <Status.mandatory: 1>,
  <function gssutils.metadata.Catalog.<lambda>(s)>),
 'themeTaxonomy': (rdflib.term.URIRef('http://www.w3.org/ns/dcat#themeTaxonomy'),
  <Status.recommended: 2>,
  <function gssutils.metadata.Catalog.<lambda>(s)>),
 'license': (rdflib.term.URIRef('http://purl.org/dc/terms/license'),
  <Status.mandatory: 1>,
  <function gssutils.metadata.Catalog.<lambda>(s)>),
 'rights': (rdflib.term.URIRef('http://purl.org/dc/terms/rights'),
  <Status.mandatory: 1>,
  <function gssutils.metadata.Catalog.<lambda>(s)>),
 'dataset': (rdflib.term.URIRef('http://www.w3.org/ns/dcat#dataset'),
  <Status.mandatory: 1>,
  <function gssutils.metadata.Catalog.<lambda>(d)>)}

In [495]:
display(distribution._properties_metadata)

{'label': (rdflib.term.URIRef('http://www.w3.org/2000/01/rdf-schema#label'),
  <Status.mandatory: 1>,
  <function gssutils.metadata.Metadata.<lambda>(s)>),
 'comment': (rdflib.term.URIRef('http://www.w3.org/2000/01/rdf-schema#comment'),
  <Status.mandatory: 1>,
  <function gssutils.metadata.Metadata.<lambda>(s)>),
 'title': (rdflib.term.URIRef('http://purl.org/dc/terms/title'),
  <Status.mandatory: 1>,
  <function gssutils.metadata.Distribution.<lambda>(s)>),
 'description': (rdflib.term.URIRef('http://purl.org/dc/terms/description'),
  <Status.mandatory: 1>,
  <function gssutils.metadata.Distribution.<lambda>(s)>),
 'issued': (rdflib.term.URIRef('http://purl.org/dc/terms/issued'),
  <Status.mandatory: 1>,
  <function gssutils.metadata.Distribution.<lambda>(d)>),
 'modified': (rdflib.term.URIRef('http://purl.org/dc/terms/modified'),
  <Status.recommended: 2>,
  <function gssutils.metadata.Distribution.<lambda>(d)>),
 'license': (rdflib.term.URIRef('http://purl.org/dc/terms/license'),
  <Status.mandatory: 1>,
  <function gssutils.metadata.Distribution.<lambda>(s)>),
 'rights': (rdflib.term.URIRef('http://purl.org/dc/terms/rights'),
  <Status.mandatory: 1>,
  <function gssutils.metadata.Distribution.<lambda>(s)>),
 'accessURL': (rdflib.term.URIRef('http://www.w3.org/ns/dcat#accessURL'),
  <Status.mandatory: 1>,
  <function gssutils.metadata.Distribution.<lambda>(u)>),
 'downloadURL': (rdflib.term.URIRef('http://www.w3.org/ns/dcat#downloadURL'),
  <Status.mandatory: 1>,
  <function gssutils.metadata.Distribution.<lambda>(u)>),
 'mediaType': (rdflib.term.URIRef('http://www.w3.org/ns/dcat#mediaType'),
  <Status.mandatory: 1>,
  <function gssutils.metadata.Distribution.<lambda>(s)>),
 'format': (<function Namespace.format>,
  <Status.recommended: 2>,
  <function gssutils.metadata.Distribution.<lambda>(s)>),
 'byteSize': (rdflib.term.URIRef('http://www.w3.org/ns/dcat#byteSize'),
  <Status.recommended: 2>,
  <function gssutils.metadata.Distribution.<lambda>(i)>),
 'checksum': (rdflib.term.URIRef('http://spdx.org/rdf/terms#checksum'),
  <Status.recommended: 2>,
  <function gssutils.metadata.Distribution.<lambda>(i)>),
 'language': (rdflib.term.URIRef('http://purl.org/dc/terms/language'),
  <Status.mandatory: 1>,
  <function gssutils.metadata.Distribution.<lambda>(s)>)}

In [503]:
display(scraper.dataset)

In [527]:
display(scraper.dataset.label)

'Health state life expectancy, all ages, UK'

In [549]:
display(distribution._properties_metadata)

{'label': (rdflib.term.URIRef('http://www.w3.org/2000/01/rdf-schema#label'),
  <Status.mandatory: 1>,
  <function gssutils.metadata.Metadata.<lambda>(s)>),
 'comment': (rdflib.term.URIRef('http://www.w3.org/2000/01/rdf-schema#comment'),
  <Status.mandatory: 1>,
  <function gssutils.metadata.Metadata.<lambda>(s)>),
 'title': (rdflib.term.URIRef('http://purl.org/dc/terms/title'),
  <Status.mandatory: 1>,
  <function gssutils.metadata.Distribution.<lambda>(s)>),
 'description': (rdflib.term.URIRef('http://purl.org/dc/terms/description'),
  <Status.mandatory: 1>,
  <function gssutils.metadata.Distribution.<lambda>(s)>),
 'issued': (rdflib.term.URIRef('http://purl.org/dc/terms/issued'),
  <Status.mandatory: 1>,
  <function gssutils.metadata.Distribution.<lambda>(d)>),
 'modified': (rdflib.term.URIRef('http://purl.org/dc/terms/modified'),
  <Status.recommended: 2>,
  <function gssutils.metadata.Distribution.<lambda>(d)>),
 'license': (rdflib.term.URIRef('http://purl.org/dc/terms/license'),
  <Status.mandatory: 1>,
  <function gssutils.metadata.Distribution.<lambda>(s)>),
 'rights': (rdflib.term.URIRef('http://purl.org/dc/terms/rights'),
  <Status.mandatory: 1>,
  <function gssutils.metadata.Distribution.<lambda>(s)>),
 'accessURL': (rdflib.term.URIRef('http://www.w3.org/ns/dcat#accessURL'),
  <Status.mandatory: 1>,
  <function gssutils.metadata.Distribution.<lambda>(u)>),
 'downloadURL': (rdflib.term.URIRef('http://www.w3.org/ns/dcat#downloadURL'),
  <Status.mandatory: 1>,
  <function gssutils.metadata.Distribution.<lambda>(u)>),
 'mediaType': (rdflib.term.URIRef('http://www.w3.org/ns/dcat#mediaType'),
  <Status.mandatory: 1>,
  <function gssutils.metadata.Distribution.<lambda>(s)>),
 'format': (<function Namespace.format>,
  <Status.recommended: 2>,
  <function gssutils.metadata.Distribution.<lambda>(s)>),
 'byteSize': (rdflib.term.URIRef('http://www.w3.org/ns/dcat#byteSize'),
  <Status.recommended: 2>,
  <function gssutils.metadata.Distribution.<lambda>(i)>),
 'checksum': (rdflib.term.URIRef('http://spdx.org/rdf/terms#checksum'),
  <Status.recommended: 2>,
  <function gssutils.metadata.Distribution.<lambda>(i)>),
 'language': (rdflib.term.URIRef('http://purl.org/dc/terms/language'),
  <Status.mandatory: 1>,
  <function gssutils.metadata.Distribution.<lambda>(s)>)}

In [521]:
# some JSON:
x =  '{ "name":"John", "age":30, "city":"New York"}'

# parse x:
y = json.loads(x)

# the result is a Python dictionary:
print(y["name"])

John

In [583]:
mytext = str(distribution._properties_metadata)

mytext = mytext.replace("\'", "\"")

pprint(mytext)

mytext2 = mytext.split('"')

str_parsed_meta = []
for i in range(len(mytext2)):
    if i % 2 != 0: 
        print(str(i) + " - " + mytext2[i])
        str_parsed_meta.append(mytext2[i])

print(str_parsed_meta)

#print(mytext2[1])
#print(mytext2[3])
#print(mytext2[5])
#print(mytext2[7])
#y = json.loads(mytext)

# the result is a Python dictionary:
#print(y["name"])

('{"label": (rdflib.term.URIRef("http://www.w3.org/2000/01/rdf-schema#label"), '
 '<Status.mandatory: 1>, <function Metadata.<lambda> at 0x114d0e378>), '
 '"comment": '
 '(rdflib.term.URIRef("http://www.w3.org/2000/01/rdf-schema#comment"), '
 '<Status.mandatory: 1>, <function Metadata.<lambda> at 0x114d0e400>), '
 '"title": (rdflib.term.URIRef("http://purl.org/dc/terms/title"), '
 '<Status.mandatory: 1>, <function Distribution.<lambda> at 0x114cca730>), '
 '"description": (rdflib.term.URIRef("http://purl.org/dc/terms/description"), '
 '<Status.mandatory: 1>, <function Distribution.<lambda> at 0x114cca7b8>), '
 '"issued": (rdflib.term.URIRef("http://purl.org/dc/terms/issued"), '
 '<Status.mandatory: 1>, <function Distribution.<lambda> at 0x114cca840>), '
 '"modified": (rdflib.term.URIRef("http://purl.org/dc/terms/modified"), '
 '<Status.recommended: 2>, <function Distribution.<lambda> at 0x114cca8c8>), '
 '"license": (rdflib.term.URIRef("http://purl.org/dc/terms/license"), '
 '<Status.mandatory: 1>, <function Distribution.<lambda> at 0x114cca950>), '
 '"rights": (rdflib.term.URIRef("http://purl.org/dc/terms/rights"), '
 '<Status.mandatory: 1>, <function Distribution.<lambda> at 0x114cca9d8>), '
 '"accessURL": (rdflib.term.URIRef("http://www.w3.org/ns/dcat#accessURL"), '
 '<Status.mandatory: 1>, <function Distribution.<lambda> at 0x114ccaa60>), '
 '"downloadURL": (rdflib.term.URIRef("http://www.w3.org/ns/dcat#downloadURL"), '
 '<Status.mandatory: 1>, <function Distribution.<lambda> at 0x114ccaae8>), '
 '"mediaType": (rdflib.term.URIRef("http://www.w3.org/ns/dcat#mediaType"), '
 '<Status.mandatory: 1>, <function Distribution.<lambda> at 0x114ccab70>), '
 '"format": (<built-in method format of Namespace object at 0x104db0cf0>, '
 '<Status.recommended: 2>, <function Distribution.<lambda> at 0x114ccabf8>), '
 '"byteSize": (rdflib.term.URIRef("http://www.w3.org/ns/dcat#byteSize"), '
 '<Status.recommended: 2>, <function Distribution.<lambda> at 0x114ccac80>), '
 '"checksum": (rdflib.term.URIRef("http://spdx.org/rdf/terms#checksum"), '
 '<Status.recommended: 2>, <function Distribution.<lambda> at 0x114ccad08>), '
 '"language": (rdflib.term.URIRef("http://purl.org/dc/terms/language"), '
 '<Status.mandatory: 1>, <function Distribution.<lambda> at 0x114ccad90>)}')
1 - label
3 - http://www.w3.org/2000/01/rdf-schema#label
5 - comment
7 - http://www.w3.org/2000/01/rdf-schema#comment
9 - title
11 - http://purl.org/dc/terms/title
13 - description
15 - http://purl.org/dc/terms/description
17 - issued
19 - http://purl.org/dc/terms/issued
21 - modified
23 - http://purl.org/dc/terms/modified
25 - license
27 - http://purl.org/dc/terms/license
29 - rights
31 - http://purl.org/dc/terms/rights
33 - accessURL
35 - http://www.w3.org/ns/dcat#accessURL
37 - downloadURL
39 - http://www.w3.org/ns/dcat#downloadURL
41 - mediaType
43 - http://www.w3.org/ns/dcat#mediaType
45 - format
47 - byteSize
49 - http://www.w3.org/ns/dcat#byteSize
51 - checksum
53 - http://spdx.org/rdf/terms#checksum
55 - language
57 - http://purl.org/dc/terms/language
['label', 'http://www.w3.org/2000/01/rdf-schema#label', 'comment', 'http://www.w3.org/2000/01/rdf-schema#comment', 'title', 'http://purl.org/dc/terms/title', 'description', 'http://purl.org/dc/terms/description', 'issued', 'http://purl.org/dc/terms/issued', 'modified', 'http://purl.org/dc/terms/modified', 'license', 'http://purl.org/dc/terms/license', 'rights', 'http://purl.org/dc/terms/rights', 'accessURL', 'http://www.w3.org/ns/dcat#accessURL', 'downloadURL', 'http://www.w3.org/ns/dcat#downloadURL', 'mediaType', 'http://www.w3.org/ns/dcat#mediaType', 'format', 'byteSize', 'http://www.w3.org/ns/dcat#byteSize', 'checksum', 'http://spdx.org/rdf/terms#checksum', 'language', 'http://purl.org/dc/terms/language']

In [534]:
display(distribution._properties_metadata)

{'label': (rdflib.term.URIRef('http://www.w3.org/2000/01/rdf-schema#label'),
  <Status.mandatory: 1>,
  <function gssutils.metadata.Metadata.<lambda>(s)>),
 'comment': (rdflib.term.URIRef('http://www.w3.org/2000/01/rdf-schema#comment'),
  <Status.mandatory: 1>,
  <function gssutils.metadata.Metadata.<lambda>(s)>),
 'title': (rdflib.term.URIRef('http://purl.org/dc/terms/title'),
  <Status.mandatory: 1>,
  <function gssutils.metadata.Distribution.<lambda>(s)>),
 'description': (rdflib.term.URIRef('http://purl.org/dc/terms/description'),
  <Status.mandatory: 1>,
  <function gssutils.metadata.Distribution.<lambda>(s)>),
 'issued': (rdflib.term.URIRef('http://purl.org/dc/terms/issued'),
  <Status.mandatory: 1>,
  <function gssutils.metadata.Distribution.<lambda>(d)>),
 'modified': (rdflib.term.URIRef('http://purl.org/dc/terms/modified'),
  <Status.recommended: 2>,
  <function gssutils.metadata.Distribution.<lambda>(d)>),
 'license': (rdflib.term.URIRef('http://purl.org/dc/terms/license'),
  <Status.mandatory: 1>,
  <function gssutils.metadata.Distribution.<lambda>(s)>),
 'rights': (rdflib.term.URIRef('http://purl.org/dc/terms/rights'),
  <Status.mandatory: 1>,
  <function gssutils.metadata.Distribution.<lambda>(s)>),
 'accessURL': (rdflib.term.URIRef('http://www.w3.org/ns/dcat#accessURL'),
  <Status.mandatory: 1>,
  <function gssutils.metadata.Distribution.<lambda>(u)>),
 'downloadURL': (rdflib.term.URIRef('http://www.w3.org/ns/dcat#downloadURL'),
  <Status.mandatory: 1>,
  <function gssutils.metadata.Distribution.<lambda>(u)>),
 'mediaType': (rdflib.term.URIRef('http://www.w3.org/ns/dcat#mediaType'),
  <Status.mandatory: 1>,
  <function gssutils.metadata.Distribution.<lambda>(s)>),
 'format': (<function Namespace.format>,
  <Status.recommended: 2>,
  <function gssutils.metadata.Distribution.<lambda>(s)>),
 'byteSize': (rdflib.term.URIRef('http://www.w3.org/ns/dcat#byteSize'),
  <Status.recommended: 2>,
  <function gssutils.metadata.Distribution.<lambda>(i)>),
 'checksum': (rdflib.term.URIRef('http://spdx.org/rdf/terms#checksum'),
  <Status.recommended: 2>,
  <function gssutils.metadata.Distribution.<lambda>(i)>),
 'language': (rdflib.term.URIRef('http://purl.org/dc/terms/language'),
  <Status.mandatory: 1>,
  <function gssutils.metadata.Distribution.<lambda>(s)>)}

In [580]:
from rdflib import Namespace

n = Namespace("http://example.org/")
n.Person # as attribute
# = rdflib.term.URIRef(u'http://example.org/Person')

#n['first%20name'] # as item - for things that are not valid python identifiers
# = rdflib.term.URIRef(u'http://example.org/first%20name')

rdflib.term.URIRef('http://example.org/Person')

In [582]:
from rdflib import Namespace

n = Namespace("http://www.w3.org/2000/01/rdf-schema#label/")
n.Label # as attribute
# = rdflib.term.URIRef(u'http://example.org/Person')

#n['first%20name'] # as item - for things that are not valid python identifiers
# = rdflib.term.URIRef(u'http://example.org/first%20name')

rdflib.term.URIRef('http://www.w3.org/2000/01/rdf-schema#label/Label')

In [ ]:
{
  "@context": [
    "http://www.w3.org/ns/csvw",
    {
      "@language": "en"
    }
  ],
  "tables": [
    {
      "url": "https://gss-cogs.github.io/family-disability/reference/codelists/ons-age-range.csv",
      "tableSchema": "https://gss-cogs.github.io/ref_common/codelist-schema.json",
      "suppressOutput": true
    },
    {
      "url": "https://gss-cogs.github.io/family-disability/reference/codelists/life-expectancy-estimate-type.csv",
      "tableSchema": "https://gss-cogs.github.io/ref_common/codelist-schema.json",
      "suppressOutput": true
    },
    {
      "url": "he-country-level-estimates.csv",
      "tableSchema": {
        "columns": [
          {
            "titles": "Period",
            "required": true,
            "name": "period",
            "datatype": {
              "format": "^(year/[0-9]{4}|gregorian-interval/.*|month/[0-9]{4}-[0-9]{2}|day/[0-9]{4}-[0-9]{2}-[0-9]{2}|quarter/[0-9]{4}-Q[1-4]|government-year/[0-9]{4}-[0-9]{4})$"
            }
          },
          {
            "titles": "ONS Geography",
            "required": true,
            "name": "ons_geography",
            "datatype": {
              "format": "[A-Z][0-9]{8}"
            }
          },
          {
            "titles": "Sex",
            "required": true,
            "name": "sex",
            "datatype": {
              "format": "^(M|F|T|U|N)$"
            }
          },
          {
            "titles": "ONS Age Range",
            "required": true,
            "name": "ons_age_range",
            "datatype": "string"
          },
          {
            "titles": "Life Expectancy Estimate Type",
            "required": true,
            "name": "life_expectancy_estimate_type",
            "datatype": "string"
          },
          {
            "titles": "Lower CI",
            "required": false,
            "name": "lower_ci",
            "datatype": "number"
          },
          {
            "titles": "Upper CI",
            "required": false,
            "name": "upper_ci",
            "datatype": "number"
          },
          {
            "titles": "Value",
            "required": false,
            "name": "value",
            "datatype": "number"
          },
          {
            "titles": "Measure Type",
            "required": true,
            "name": "measure_type",
            "datatype": "string"
          }
        ],
        "foreignKeys": [
          {
            "columnReference": "ons_age_range",
            "reference": {
              "resource": "https://gss-cogs.github.io/family-disability/reference/codelists/ons-age-range.csv",
              "columnReference": "notation"
            }
          },
          {
            "columnReference": "life_expectancy_estimate_type",
            "reference": {
              "resource": "https://gss-cogs.github.io/family-disability/reference/codelists/life-expectancy-estimate-type.csv",
              "columnReference": "notation"
            }
          }
        ],
        "primaryKey": [
          "period",
          "ons_geography",
          "sex",
          "ons_age_range",
          "life_expectancy_estimate_type",
          "measure_type"
        ]
      }
    }
  ]
}

In [ ]:
{
  "@context": ["http://www.w3.org/ns/csvw", {"@language": "en"}],
  "url": "tree-ops.csv",
  "dc:title": "Tree Operations",
  "dcat:keyword": ["tree", "street", "maintenance"],
  "dc:publisher": {
    "schema:name": "Example Municipality",
    "schema:url": {"@id": "http://example.org"}
  },
  "dc:license": {"@id": "http://opendefinition.org/licenses/cc-by/"},
  "dc:modified": {"@value": "2010-12-31", "@type": "xsd:date"},
  "tableSchema": {
    "columns": [{
      "name": "GID",
      "titles": ["GID", "Generic Identifier"],
      "dc:description": "An identifier for the operation on a tree.",
      "datatype": "string",
      "required": true
    }, {
      "name": "on_street",
      "titles": "On Street",
      "dc:description": "The street that the tree is on.",
      "datatype": "string"
    }, {
      "name": "species",
      "titles": "Species",
      "dc:description": "The species of the tree.",
      "datatype": "string"
    }, {
      "name": "trim_cycle",
      "titles": "Trim Cycle",
      "dc:description": "The operation performed on the tree.",
      "datatype": "string"
    }, {
      "name": "inventory_date",
      "titles": "Inventory Date",
      "dc:description": "The date of the operation that was performed.",
      "datatype": {"base": "date", "format": "M/d/yyyy"}
    }],
    "primaryKey": "GID",
    "aboutUrl": "#gid-{GID}"
  }
}

In [ ]:
{
  "@context": "http://www.w3.org/ns/csvw",
  "rdfs:comment": "The supported date and time formats listed here are expressed in terms of the date field symbols defined in [UAX35] and MUST be interpreted by implementations as defined in that specification.",
  "rdfs:label": "date format (valid date combinations with formats)",
  "url": "test188.csv",
  "tableSchema": {
    "columns": [
      {"titles": "yyyy-MM-dd", "datatype": {"base": "date", "format": "yyyy-MM-dd"}},
      {"titles": "yyyyMMdd",   "datatype": {"base": "date", "format": "yyyyMMdd"}},
      {"titles": "dd-MM-yyyy", "datatype": {"base": "date", "format": "dd-MM-yyyy"}},
      {"titles": "d-M-yyyy",   "datatype": {"base": "date", "format": "d-M-yyyy"}},
      {"titles": "MM-dd-yyyy", "datatype": {"base": "date", "format": "MM-dd-yyyy"}},
      {"titles": "M-d-yyyy",   "datatype": {"base": "date", "format": "M-d-yyyy"}},
      {"titles": "dd/MM/yyyy", "datatype": {"base": "date", "format": "dd/MM/yyyy"}},
      {"titles": "d/M/yyyy",   "datatype": {"base": "date", "format": "d/M/yyyy"}},
      {"titles": "MM/dd/yyyy", "datatype": {"base": "date", "format": "MM/dd/yyyy"}},
      {"titles": "M/d/yyyy",   "datatype": {"base": "date", "format": "M/d/yyyy"}},
      {"titles": "dd.MM.yyyy", "datatype": {"base": "date", "format": "dd.MM.yyyy"}},
      {"titles": "d.M.yyyy",   "datatype": {"base": "date", "format": "d.M.yyyy"}},
      {"titles": "MM.dd.yyyy", "datatype": {"base": "date", "format": "MM.dd.yyyy"}},
      {"titles": "M.d.yyyy",   "datatype": {"base": "date", "format": "M.d.yyyy"}},
      {"titles": "yyyy-MM-ddX",      "datatype": {"base": "date", "format": "yyyy-MM-ddX"}},
      {"titles": "dd.MM.yyyy XXX", "datatype": {"base": "date", "format": "dd.MM.yyyy XXX"}}
    ]
  }
}

In [ ]:
#Suggestions in the scan?

In [ ]:
#Create json - run rdf thingy component!

In [185]:
import json

jsondata = {}
agent={}
content={}
agent['agentid'] = 'john'
content['eventType'] = 'view'
content['othervar'] = "new"

jsondata['agent'] = agent
jsondata['content'] = content
print(json.dumps(jsondata,indent=4))

{
    "agent": {
        "agentid": "john"
    },
    "content": {
        "eventType": "view",
        "othervar": "new"
    }
}

In [ ]:
#Data markers and video